In [1]:
# pandas
import pandas as pd 
# pip install eurostat  #herramienta para importar datos de eurostat

In [2]:
import PySimpleGUI as sg
def selection(option):
    #sg.theme('DarkAmber')   # Add a touch of color
    #select the variable we want to calculate
    options = option

    # All the stuff inside your window.
    layout = [ 
            [sg.Text('Select one->'), sg.Listbox(options,select_mode=sg.LISTBOX_SELECT_MODE_SINGLE,size=(20,len(options)))],
            [sg.Button('Ok'), sg.Button('Cancel')]
        ]

    # Create the Window
    window = sg.Window('Make your choice', layout)

    # Event Loop to process "events" and get the "values" of the input
    while True:
        event, values = window.read()
        print( f"event={event}" )
        if event is None or event == 'Ok' or event == 'Cancel': # if user closes window or clicks cancel
            break
        
    # close  the window        
    window.close()

    if event == "Cancel":
        print( "You cancelled" )
    else:
        print('You entered ', values[0])
        sg.popup( f"You selected {values[0]}" )        
    return values

In [3]:
#change the number to select another database
database_sel= 'env_ac_pefasu' 
database_sel

'env_ac_pefasu'

In [4]:
#nama_10_a64 National accounts aggregates by industry (up to NACE A*64)
#NAMA_10_A64_P5 Gross capital formation by industry (up to NACE A*64)
#National accounts employment data by industry (up to NACE A*64)

import eurostat
df = eurostat.get_data_df(database_sel, flags=False)
df

,stk_flow,nace_r2,prod_nrg,unit,geo\time,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
0,ER_USE,A,EPRD_OUSE,TJ,AT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ER_USE,A,EPRD_OUSE,TJ,BE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ER_USE,A,EPRD_OUSE,TJ,BG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ER_USE,A,EPRD_OUSE,TJ,CH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ER_USE,A,EPRD_OUSE,TJ,CY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514990,USE_TRS,U,SD_IO,TJ,SE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
514991,USE_TRS,U,SD_IO,TJ,SI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
514992,USE_TRS,U,SD_IO,TJ,SK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
514993,USE_TRS,U,SD_IO,TJ,TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
514994,USE_TRS,U,SD_IO,TJ,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['stk_flow',  'nace_r2', 'prod_nrg',     'unit', 'geo\time',       2020,
             2019,       2018,       2017,       2016,       2015,       2014,
             2013,       2012,       2011,       2010,       2009,       2008],
      dtype='object')

In [6]:
#eliminate columns for years previous to 2011
years =[]
year_start=2008
year_study=2011
for y in range(year_start,year_study): 
    years.append(y)
df=df.drop(years, axis=1)#quitamos todas las columnas de añosque no nos interesan
#rename geo time column to be easier to handle because of the name
df.rename(columns={"geo\\time": "geo"}, inplace=True)
#We can get the unique values of the different variables

In [7]:
dic_unit = eurostat.get_dic('unit') #dictionary for all the unit in eurostat
#print the units in the database
for u in df.unit.unique():
    if u in dic_unit:
        print (u + " -"+dic_unit[u])
#select the unit that we want
unit=selection(df.unit.unique())[0]

TJ -Terajoule
event=Ok
You entered  ['TJ']

In [8]:
dic_stkflow = eurostat.get_dic('stk_flow') #dictionary for all the unit in eurostat
#print the units in the database
for u in df.stk_flow.unique():
    if u in dic_stkflow:
        print (u + " -"+dic_stkflow[u])
#select the unit that we want
stkflow=selection(df.stk_flow.unique())[0]

ER_USE -Emission-relevant use
SUP -Supply
USE -Use
USE_END -End use
USE_TRS -Transformation use
event=Ok
You entered  ['USE']

In [9]:
dic_item = eurostat.get_dic('prod_nrg') #dictionary for all the unit in eurostat
for item in df.prod_nrg.unique():
    if item in dic_item:
        print (item + " -"+dic_item[item])
naitem=selection(df.prod_nrg.unique())[0]
#N00 -Natural energy inputs
#P00 -Energy products
#R00 -Energy residuals
#N00_P00_R00 -Natural energy inputs, energy products and energy residuals

EPRD_OUSE -Energy products for own use
N00 -Natural energy inputs
N00_P00_R00 -Natural energy inputs, energy products and energy residuals
N01 -Fossil non-renewable natural energy inputs
N02 -Nuclear non-renewable natural energy inputs
N03 -Hydro based renewable natural energy inputs
N04 -Wind based renewable natural energy inputs
N05 -Solar based renewable natural energy inputs
N06 -Biomass based renewable natural energy inputs
N07 -Other renewable natural energy inputs
P00 -Energy products
P08 -Hard coal
P09 -Brown coal and peat
P10 -Derived gases (= manufactured gases excl. biogas)
P11 -Secondary coal products (coke, coal tar, patent fuel, BKB and peat products)
P12 -Crude oil, NGL, and other hydrocarbons (excl. bio)
P13 -Natural gas (without bio)
P14 -Motor spirit (without bio)
P15 -Kerosenes and jet fuels (without bio)
P16 -Naphtha
P17 -Transport diesel (without bio)
P18 -Heating and other gasoil (without bio)
P19 -Residual fuel oil
P20 -Refinery gas, ethane and LPG
P21 -Other petroleum products incl. additives/oxygenates and refinery feedstocks
P22 -Nuclear fuel
P23 -Wood, wood waste and other solid biomass, charcoal
P24 -Liquid biofuels
P25 -Biogas
P26 -Electrical energy
P27 -Heat
R00 -Energy residuals
R28 -Renewable waste
R29 -Non-renewable waste
R30 -Energy losses all kinds of (during extraction, distribution, storage and transformation, and dissipative heat from end use)
R31 -Energy incorporated in products for non-energy use
SD_IO -Statistical discrepancy between input and output of all energy flows
event=Ok
You entered  ['N00']

In [10]:
#determine the variable of interest based on the selection
for item in naitem:
    if item in dic_item:
        variable_of_interest=dic_item[item]
variable_of_interest

'Natural energy inputs'

In [11]:
df.nace_r2.unique()

array(['A', 'A01', 'A02', 'A03', 'B', 'C', 'C10-C12', 'C13-C15', 'C16',
       'C17', 'C18', 'C19', 'C20', 'C21', 'C22', 'C23', 'C24', 'C25',
       'C26', 'C27', 'C28', 'C29', 'C30', 'C31_C32', 'C33', 'CH_INV_PA',
       'D', 'E', 'E36', 'E37-E39', 'ENV', 'F', 'G', 'G45', 'G46', 'G47',
       'H', 'H49', 'H50', 'H51', 'H52', 'H53', 'HH', 'HH_HEAT', 'HH_OTH',
       'HH_TRA', 'I', 'J', 'J58', 'J59_J60', 'J61', 'J62_J63', 'K', 'K64',
       'K65', 'K66', 'L', 'L68A', 'M', 'M69_M70', 'M71', 'M72', 'M73',
       'M74_M75', 'N', 'N77', 'N78', 'N79', 'N80-N82', 'NRG_FLOW', 'O',
       'P', 'Q', 'Q86', 'Q87_Q88', 'R', 'R90-R92', 'R93', 'ROW_ACT', 'S',
       'S94', 'S95', 'S96', 'SD_SU', 'T', 'TOTAL', 'U'], dtype=object)

In [12]:
nacedrop=['O','K66', 'J', 'H', 'C16-C18','A03', 'O-Q', 'E', 'C31-C33', 'M_N', 'J58-J60', 'R-U', 'G', 'K', 'TOTAL', 'L68A', 'A02', 'C22_C23', 'C29_C30',  'B-E', 'G-I', 'N', 'Q', 'R', 'C24_C25','C', 'M69-M71', 'M73-M75', 'U', 'S', 'B', 'M', 'A01', 'K65','K64']
countries_not_selected= ['UK', 'TR', 'AL','IS','LI','NO','CH','UK','ME','MK','AL','RS','TR','BA','EU28','EU15','EA','EA19','EA12']
#We can get the selected values we want from nace 
#naceall=df.nace_r2.unique()
#nace=set(naceall)-set(nacedrop)
#df[df.unit.isin(unit)&df.nace_r2.isin(nace)&df.na_item.isin(naitem)]
#or we can select those that are not in the list nacedrop by using ~df.nace_r2.isin(nacedrop) later

#we select the rows that have the right unit, nace codes, items and countries
df_selection=df[df.stk_flow.isin(stkflow)&~df.nace_r2.isin(nacedrop)&df.prod_nrg.isin(naitem)&~df.geo.isin(countries_not_selected)]
df_selection

,stk_flow,nace_r2,prod_nrg,unit,geo,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
218968,USE,A,N00,TJ,AT,NaN,129443.8,128384.1,141173.7,135926.9,135562.0,130902.5,146111.7,NaN,NaN
218969,USE,A,N00,TJ,BE,NaN,46363.7,48941.0,46066.5,49537.2,48806.5,43414.8,53229.2,52184.9,46004.0
218970,USE,A,N00,TJ,BG,NaN,63416.5,59408.9,41929.8,42193.6,45680.7,40500.7,NaN,NaN,NaN
218972,USE,A,N00,TJ,CY,NaN,997.3,975.4,973.3,843.8,751.0,490.5,NaN,NaN,NaN
218973,USE,A,N00,TJ,CZ,NaN,122289.3,113874.1,110203.0,109216.0,108498.0,103700.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324978,USE,T,N00,TJ,PT,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
324979,USE,T,N00,TJ,RO,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
324981,USE,T,N00,TJ,SE,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
324982,USE,T,N00,TJ,SI,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
324983,USE,T,N00,TJ,SK,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [13]:
#ratios to divide N80_82 and 31_32. Value Added from SBS
ratios_values = pd.read_excel("ratioCN-Value added at factor cost - million euro.xlsx")
ratios_values.set_index('nace_r2', inplace=True)#nace como índice
ratios_values

,Value added at factor cost - million euro2011,Value added at factor cost - million euro2012,Value added at factor cost - million euro2013,Value added at factor cost - million euro2014,Value added at factor cost - million euro2015,Value added at factor cost - million euro2016,Value added at factor cost - million euro2017,Value added at factor cost - million euro2018,Value added at factor cost - million euro2019
nace_r2,,,,,,,,,
C31,0.398512,0.403322,0.400551,0.398158,0.400751,0.409175,0.388565,0.382716,0.390244
C32,0.601488,0.596678,0.599449,0.601842,0.599249,0.590825,0.611435,0.617284,0.609756
N80,0.165778,0.162820,0.158483,0.152327,0.157963,0.160093,0.155610,0.145835,0.145557
N81,0.462572,0.459438,0.466741,0.463845,0.467105,0.467350,0.469511,0.477816,0.490550
N82,0.371650,0.377742,0.374777,0.383828,0.374932,0.372558,0.374879,0.376349,0.363893

In [14]:
weights_target = pd.read_excel("ecosystemweights.xlsx")
weights_target

,NACE_R2,Aerospace & Defence,Agri-food,Construction,Cultural and Creative Industries,Digital,Electronics,Energy - Renewables,Energy Intensive Industries,Health,Mobility - Transport - Automotive,"Proximity, Social Economy and Civil Security",Retail,Textile,Tourism
0,A,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,C10-C12,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,C13-C15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
3,C16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,C17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,C18,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,C19,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,C20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,C21,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,C22,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,C23,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,C24,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,C25,0.097362,0.066168,0.305189,0.008982,0.020901,0.019600,0.015553,0.036324,0.051639,0.235501,0.023466,0.044200,0.008535,0.036845
13,C26,0.440000,0.000000,0.000000,0.000000,0.222517,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,C27,0.230000,0.000000,0.000000,0.000000,0.000000,0.000000,0.378114,0.000000,0.000000,0.025089,0.000000,0.000000,0.000000,0.000000
15,C28,0.067894,0.078244,0.198393,0.012618,0.030525,0.122558,0.015984,0.040056,0.056225,0.277642,0.029954,0.057346,0.009986,0.050067
16,C29,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
17,C30,0.681044,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.318958,0.000000,0.000000,0.000000,0.000000
18,C31,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,C32,0.000000,0.000000,0.000000,0.079000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,C33,0.166456,0.118497,0.155381,0.013205,0.032879,0.015305,0.016405,0.047373,0.068633,0.165263,0.035659,0.064677,0.009670,0.071660
21,D,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.290000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,E36,0.017444,0.121809,0.102483,0.024670,0.022172,0.006887,0.011280,0.040057,0.110972,0.058200,0.076530,0.074141,0.012856,0.104587
23,E37-E39,0.027442,0.094801,0.136681,0.018941,0.027805,0.010187,0.014313,0.086234,0.085284,0.098157,0.053702,0.077560,0.014370,0.071190
24,F,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,G45,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
26,G46,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
27,G47,0.000000,0.000000,0.000000,0.012000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.155000,1.000000,0.000000,0.000000
28,H49,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.517742,0.000000,0.000000,0.000000,0.445221
29,H50,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.777240,0.000000,0.000000,0.000000,0.222225
30,H51,0.092866,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.907134
31,H52,0.178000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.393612,0.000000,0.000000,0.000000,0.000000
32,H53,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
33,I,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.140000,0.000000,0.000000,1.000000
34,J58,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35,J59_J60,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
36,J61,0.069000,0.000000,0.000000,0.000000,0.972721,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
37,J62_J63,0.000000,0.000000,0.000000,0.004000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
38,L,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.083600,0.000000,0.000000,0.000000
39,M69_M70,0.024984,0.077210,0.115127,0.027735,0.051335,0.011667,0.009650,0.049054,0.087623,0.086191,0.057233,0.134521,0.011523,0.067615
40,M71,0.033689,0.060163,1.256805,0.173047,0.044230,0.014561,0.011725,0.036812,0.076141,0.092899,0.044152,0.080038,0.011156,0.054884
41,M72,0.056517,0.072081,0.104068,0.027198,0.069032,0.050716,0.008286,0.030642,0.142165,0.129971,0.046536,0.081408,0.011505,0.048453
42,M73,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
43,M74_M75,0.000000,0.000000,0.000000,0.640000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
44,N77,0.027148,0.082093,0.129191,0.029051,0.051669,0.013045,0.008469,0.031288,0.099961,0.085503,0.061228,0.126924,0.009894,0.082765
45,N78,0.027148,0.082093,0.129191,0.028451,0.051669,0.013045,0.008469,0.031288,0.099961,0.085503,0.061228,0.126924,0.009894,0.082765
46,N79,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
47,N80,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
48,N81,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.280000,0.000000,0.000000,0.000000
49,N82,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.110000,0.000000,0.000000,1.000000
50,P,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
51,Q86,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
52,Q87_Q88,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000
53,R90-R92,0.000000,0.000000,0.000000,0.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.660000
54,R93,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
55,S94,0.000000,0.000000,0.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
56,S95,0.000000,0.000000,0.000000,0.260000,0.480000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
57,S96,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
58,T,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000

In [15]:
weights_target.NACE_R2.unique()

array(['A', 'C10-C12', 'C13-C15', 'C16', 'C17', 'C18', 'C19', 'C20',
       'C21', 'C22', 'C23', 'C24', 'C25', 'C26', 'C27', 'C28', 'C29',
       'C30', 'C31', 'C32', 'C33', 'D', 'E36', 'E37-E39', 'F', 'G45',
       'G46', 'G47', 'H49', 'H50', 'H51', 'H52', 'H53', 'I', 'J58',
       'J59_J60', 'J61', 'J62_J63', 'L', 'M69_M70', 'M71', 'M72', 'M73',
       'M74_M75', 'N77', 'N78', 'N79', 'N80', 'N81', 'N82', 'P', 'Q86',
       'Q87_Q88', 'R90-R92', 'R93', 'S94', 'S95', 'S96', 'T'],
      dtype=object)

In [16]:
# columns of countries to be eliminated
cols = ['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES', 'FI','FR', 'HR', 'HU', 'IE', 'IT', 'LT','LU', 'LV', 'MT','NL', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK']

#create a dataframe for the results
results_compiled = pd.DataFrame()


import numpy as np
#loop to calculate values for years
for j in range (2011,2019):
    year=j
    #we transpose the values for the year selected
    for i in range (year,year+1):
        df_target = pd.pivot_table(df_selection, values=i, index=['nace_r2'],columns=["geo"], aggfunc=np.sum, fill_value=0)#reorde
    df_target['sum'] = df_target[cols].sum(axis=1)#sums the columns of the countries to "sum" 
    df_target=df_target.drop(cols, axis=1)#eliminamos las columnas sumadas de países
    df_target.loc[df_target['EU27_2020']==0,'EU27_2020'] = df_target['sum']#now we can locate columns with 0 and make the substitution with the column "sum"
    moddf_target=df_target.drop('sum', axis=1)#we create a new table 
    #add rows C31,... and assign value with the ratio multiplying by the value of position C31_32
    year_ratio=j-2011
    moddf_target.loc['C31'] = ratios_values.iloc[0][year_ratio]*moddf_target.loc['C31_C32','EU27_2020']
    moddf_target.loc['C32'] = ratios_values.iloc[1][year_ratio]*moddf_target.loc['C31_C32','EU27_2020']
    moddf_target.loc['N80'] = ratios_values.iloc[2][year_ratio]*moddf_target.loc['N80-N82','EU27_2020']
    moddf_target.loc['N81'] = ratios_values.iloc[3][year_ratio]*moddf_target.loc['N80-N82','EU27_2020']
    moddf_target.loc['N82'] = ratios_values.iloc[4][year_ratio]*moddf_target.loc['N80-N82','EU27_2020']
    #we eliminate rows C31_C32
    moddf_target = moddf_target.drop(['C31_C32', 'N80-N82'])
    pd.set_option('display.float_format', lambda x: '%.4f' % x)
    #cargamos los pesos en el dataframe weight  
    weights_target = pd.read_excel("ecosystemweights.xlsx")
    weights_target.set_index('NACE_R2', inplace=True)#nace como índice
    column_name=str(variable_of_interest)+str(year)
    weights_target[variable_of_interest]=weights_target.index.map(moddf_target['EU27_2020'])#busca en df_target el nace y copia el valor de EU27_2020 en la fila del nace the weights_target
    #creamos la matriz de resultados
    results=weights_target
    for i in range(0,14):
        results.iloc[:, i]=weights_target.iloc[:, i]*weights_target[variable_of_interest]#we multiply the total value added by the weight for each nace
    results.loc['total'] = results.select_dtypes(pd.np.number).sum() #we add the values of each colum in a row call total
    results_compiled[column_name]=results.loc['total']
results_compiled = results_compiled.drop(variable_of_interest)
#sum of the totals
results_SMEs = results_compiled.copy()  
results_big = results_compiled.copy()
#results_compiled.loc['total'] = results_compiled.select_dtypes(pd.np.number).sum()
results_compiled

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:38: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

,Natural energy inputs2011,Natural energy inputs2012,Natural energy inputs2013,Natural energy inputs2014,Natural energy inputs2015,Natural energy inputs2016,Natural energy inputs2017,Natural energy inputs2018
Aerospace & Defence,1398.2713,1179.8612,1406.6751,1646.6515,1833.7117,1866.2864,4669.0141,4747.3449
Agri-food,1257921.8478,1309218.6305,1535980.7943,2736944.7120,2876321.8000,2912397.7392,2951993.9190,2883999.6203
Construction,5797.1589,5505.3319,5825.3737,8809.0449,9024.5497,9852.9645,24707.3361,25051.3906
Cultural and Creative Industries,2355.5384,1924.5551,2296.2441,2662.8332,2741.5183,2813.4606,8243.2330,8398.8648
Digital,1666.4706,1567.4250,1855.0710,2019.3285,2116.1229,2154.2035,6766.4284,6784.3725
Electronics,581.5099,554.8039,629.4461,678.5497,874.8459,926.8837,1901.5610,2037.0678
Energy - Renewables,467693.3437,492206.6253,568938.1564,983362.4740,1015122.5795,1045874.1920,1066924.0676,1135444.0484
Energy Intensive Industries,486962.9106,443891.9771,510579.1325,874319.5092,886253.7283,910783.7239,972770.6011,1011095.1231
Health,5458.1754,4739.5030,4808.4207,8744.8376,9330.4882,9126.2101,15225.3704,15656.6333
Mobility - Transport - Automotive,4876.0974,4552.8992,5174.2484,6569.8411,7361.6493,7279.0739,14716.2563,14918.8442
"Proximity, Social Economy and Civil Security",3133.1042,3180.4019,4165.0486,6383.8084,6836.0866,6877.1282,22902.8676,22897.2887
Retail,3523.6955,3896.9902,6226.4861,7253.5535,9629.3588,12786.0572,31597.1359,33590.0588
Textile,986.6445,942.5267,2275.1018,10120.8377,4898.9249,5620.0587,7904.2276,8409.6378
Tourism,5134.3764,7241.1209,7352.6461,25954.8908,26021.9658,26370.3638,40945.6310,42079.1011

In [17]:
#save to file
filename = "%s.xlsx" % variable_of_interest
results_compiled.to_excel(filename)