In [1]:
# pandas
import pandas as pd

Trade database options to select

unit
[THS_EUR] Thousand euro
[NR_ENT] Number of enterprises 

sizeclas
[TOTAL] Total
[LT10] Fewer than 10 employees
[10-49] From 10 to 49 employees
[50-249] From 50 to 249 employees
[GE250] 250 employees or more
[UNK] Unknown 

stk_flow
[IMP] Imports
[EXP] Exports 

partner
[INT_EU] Intra-EU
[EXT_EU] Extra-EU
[WORLD] All countries of the world

In [2]:
#We make the selection of the value, partner, unit, size of the company

#select unit
unit=['THS_EUR']
#select stock flow
stk_flow_1=['EXP']
#select partner
partner=['INT_EU']
#select size
size_sel=['TOTAL']

#we name the variable as Trade + the stock flow + partner + size
variable_of_interest='Trade'+str(stk_flow_1)+str(partner)+ str(size_sel)

In [3]:
#'ext_tec09'Trade by NACE Rev. 2 activity sector (optional table) has limited data for countries. 
#No EU27 aggregates. Only few countries (15 countries from EU27)

# ext_tec01 Trade. No Eu27. Data for the 27 Countries, 
#but with missing data and no disaggregation for many naces specially the last ones

#Therefore we need to use ext_tec09 to distribute trade into naces
# Here we are assuming that the distribution of the trade 
#is maintained for the 15 countries in the detailed database (Tec09) in relation to the total EU27 countries

#We load the eurostat database ext_tec01. the one with all the countries but not disaggregation for many naces
import eurostat
df = eurostat.get_data_df('ext_tec01', flags=False)
#rename geo time column to be easier to handle because of the name
df.rename(columns={"geo\\time": "geo"}, inplace=True)
df

,unit,sizeclas,stk_flow,nace_r2,partner,geo,2020,2019,2018,2017,2016,2015,2014,2013,2012
0,NR_ENT,10-49,EXP,A,EXT_EU,AT,66.00,55.00,63.00,63.00,56.00,58.0,53.0,54.0,48.0
1,NR_ENT,10-49,EXP,A,EXT_EU,BA,37.00,36.00,36.00,48.00,50.00,NaN,NaN,NaN,NaN
2,NR_ENT,10-49,EXP,A,EXT_EU,BE,84.00,52.00,55.00,39.00,37.00,38.0,45.0,43.0,33.0
3,NR_ENT,10-49,EXP,A,EXT_EU,BG,55.00,50.00,59.00,64.00,65.00,69.0,78.0,69.0,60.0
4,NR_ENT,10-49,EXP,A,EXT_EU,CH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98078,THS_EUR,UNK,IMP,UNK,WORLD,PL,NaN,0.11,17.71,NaN,NaN,NaN,NaN,NaN,NaN
98079,THS_EUR,UNK,IMP,UNK,WORLD,PT,0.00,0.00,10.71,11.91,26507.48,NaN,NaN,NaN,NaN
98080,THS_EUR,UNK,IMP,UNK,WORLD,SE,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
98081,THS_EUR,UNK,IMP,UNK,WORLD,SK,279.80,376.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98082,THS_EUR,UNK,IMP,UNK,WORLD,XK,0.95,2983.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#we can display the columns to see how many years are included
df.columns

Index([    'unit', 'sizeclas', 'stk_flow',  'nace_r2',  'partner',      'geo',
             2020,       2019,       2018,       2017,       2016,       2015,
             2014,       2013,       2012],
      dtype='object')

In [5]:
#We load the eurostat database ext_tec09. The one with detailed information but only for 15 countries
import eurostat
df_det = eurostat.get_data_df('ext_tec09', flags=False)
df_det.rename(columns={"geo\\time": "geo"}, inplace=True)
df_det

,unit,stk_flow,nace_r2,partner,geo,2020,2019,2018,2017,2016,2015,2014,2013,2012
0,NR_ENT,EXP,A,EXT_EU,AT,294.00,286.00,264.00,280.00,273.00,263.0,270.0,NaN,NaN
1,NR_ENT,EXP,A,EXT_EU,BE,417.00,238.00,228.00,230.00,228.00,213.0,221.0,NaN,NaN
2,NR_ENT,EXP,A,EXT_EU,CZ,192.00,160.00,154.00,177.00,158.00,129.0,112.0,100.0,110.0
3,NR_ENT,EXP,A,EXT_EU,DE,1130.00,1096.00,778.00,795.00,795.00,787.0,711.0,NaN,NaN
4,NR_ENT,EXP,A,EXT_EU,ES,1713.00,1538.00,1464.00,1493.00,1379.00,1473.0,1403.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54648,THS_EUR,IMP,UNK,WORLD,LV,1.31,0.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54649,THS_EUR,IMP,UNK,WORLD,PL,117460.36,65882.66,93045.51,77401.84,67147.74,NaN,NaN,NaN,NaN
54650,THS_EUR,IMP,UNK,WORLD,PT,0.00,0.00,30.48,52.96,29014.22,NaN,NaN,NaN,NaN
54651,THS_EUR,IMP,UNK,WORLD,SK,280.39,377.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54652,THS_EUR,IMP,UNK,WORLD,XK,0.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#we can display the columns to see how many years are included. Same as the other database
df_det.columns

Index([    'unit', 'stk_flow',  'nace_r2',  'partner',      'geo',       2020,
             2019,       2018,       2017,       2016,       2015,       2014,
             2013,       2012],
      dtype='object')

In [7]:
#we can display a list of posible variables values
print(df.unit.unique())
print(df.sizeclas.unique())
print(df.stk_flow.unique())
print(df.partner.unique())

['NR_ENT' 'THS_EUR']
['10-49' '50-249' 'GE250' 'LT10' 'TOTAL' 'UNK']
['EXP' 'IMP']
['EXT_EU' 'INT_EU' 'WORLD']

In [8]:
#countries included in tec01
df.geo.unique()

array(['AT', 'BA', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL',
       'ES', 'FI', 'FR', 'HR', 'HU', 'IE', 'IT', 'LT', 'LU', 'LV', 'MT',
       'NL', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK', 'UK', 'IS', 'MK', 'NO',
       'RS', 'TR', 'XK'], dtype=object)

In [9]:
# columns of countries to be selected in tec01. Only EU27 countries. The rest we disregard them later in the selection
countries_EU27 = ['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES', 'FI','FR', 'HR', 'HU', 'IE', 'IT', 'LT','LU', 'LV', 'MT','NL', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK']

#countries missing in tec09 from the EU27
countries_missing=['BG', 'CY', 'DK', 'EE', 'EL', 'FI', 'HU', 'IE', 'SE']
countries= set(countries_EU27)-set(countries_missing)
#countries that we can use to retrieve data from tec09
countries

{'AT',
 'BE',
 'CZ',
 'DE',
 'ES',
 'FR',
 'HR',
 'IT',
 'LT',
 'LU',
 'LV',
 'MT',
 'NL',
 'PL',
 'PT',
 'RO',
 'SI',
 'SK'}

In [10]:
#naces that are included in tec01
df.nace_r2.unique()

array(['A', 'A_F_H-U', 'B', 'B-E', 'C', 'C10', 'C11', 'C12', 'C13', 'C14',
       'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21', 'C22', 'C23',
       'C24', 'C25', 'C26', 'C27', 'C28', 'C29', 'C30', 'C31', 'C32',
       'C33', 'D', 'E', 'F', 'G', 'G45', 'G46', 'G47', 'H', 'J', 'K', 'L',
       'M', 'N', 'OTH', 'TOTAL', 'UNK'], dtype=object)

In [11]:
#We make a list to select only the naces that interest us. That is, those that are in Ecosystems
nace_sel= ['A', 'C10', 'C11', 'C12', 'C13', 'C14', 'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21', 'C22', 'C23',  'C24', 'C25', 'C26', 'C27', 'C28', 'C29', 'C30', 'C31', 'C32','C33', 'D', 'E', 'F', 'G', 'G45', 'G46', 'G47', 'H', 'J', 'L', 'M', 'N', 'OTH']
nace_sel

['A',
 'C10',
 'C11',
 'C12',
 'C13',
 'C14',
 'C15',
 'C16',
 'C17',
 'C18',
 'C19',
 'C20',
 'C21',
 'C22',
 'C23',
 'C24',
 'C25',
 'C26',
 'C27',
 'C28',
 'C29',
 'C30',
 'C31',
 'C32',
 'C33',
 'D',
 'E',
 'F',
 'G',
 'G45',
 'G46',
 'G47',
 'H',
 'J',
 'L',
 'M',
 'N',
 'OTH']

In [12]:
#naces that are included in tec01
df_det.nace_r2.unique()

array(['A', 'A01', 'A02', 'A03', 'B', 'B05', 'B06', 'B07', 'B08', 'B09',
       'C', 'C10', 'C101', 'C102', 'C103', 'C104', 'C105', 'C106', 'C107',
       'C108', 'C109', 'C11', 'C12', 'C13', 'C131', 'C132', 'C133',
       'C139', 'C14', 'C141', 'C142', 'C143', 'C15', 'C151', 'C152',
       'C16', 'C161', 'C162', 'C17', 'C171', 'C172', 'C18', 'C181',
       'C182', 'C19', 'C191', 'C192', 'C20', 'C201', 'C202', 'C203',
       'C204', 'C205', 'C206', 'C21', 'C211', 'C212', 'C22', 'C221',
       'C222', 'C23', 'C231', 'C232', 'C233', 'C234', 'C235', 'C236',
       'C237', 'C239', 'C24', 'C241', 'C242', 'C243', 'C244', 'C245',
       'C25', 'C251', 'C252', 'C253', 'C254', 'C255', 'C256', 'C257',
       'C259', 'C26', 'C261', 'C262', 'C263', 'C264', 'C265', 'C266',
       'C267', 'C268', 'C27', 'C271', 'C272', 'C273', 'C274', 'C275',
       'C279', 'C28', 'C281', 'C282', 'C283', 'C284', 'C289', 'C29',
       'C291', 'C292', 'C293', 'C30', 'C301', 'C302', 'C303', 'C304',
       'C309', 'C31', 'C32', 'C321', 'C322', 'C323', 'C324', 'C325',
       'C329', 'C33', 'C331', 'C332', 'D', 'D35', 'D351', 'D352', 'D353',
       'E', 'E36', 'E37', 'E38', 'E381', 'E382', 'E383', 'E39', 'F',
       'F41', 'F42', 'F43', 'G', 'G45', 'G451', 'G452', 'G453', 'G454',
       'G46', 'G461', 'G462', 'G463', 'G464', 'G465', 'G466', 'G467',
       'G469', 'G47', 'G471', 'G472', 'G473', 'G474', 'G475', 'G476',
       'G477', 'G478', 'G479', 'H', 'H49', 'H50', 'H51', 'H52', 'H53',
       'I', 'I55', 'I56', 'J', 'J58', 'J59', 'J60', 'J61', 'J62', 'J63',
       'K', 'K64', 'K65', 'K66', 'L', 'L68', 'M', 'M69', 'M70', 'M71',
       'M72', 'M73', 'M74', 'M75', 'N', 'N77', 'N78', 'N79', 'N80', 'N81',
       'N82', 'O', 'O84', 'P', 'P85', 'Q', 'Q86', 'Q87', 'Q88', 'R',
       'R90', 'R91', 'R92', 'R93', 'S', 'S94', 'S95', 'S96', 'T', 'T97',
       'T98', 'TOTAL', 'U', 'U99', 'UNK'], dtype=object)

In [13]:
#We make a list to select only the naces that interest us. That is, those that are in Ecosystems
nace_sel_det=['A', 'C10', 'C11', 'C12', 'C13', 'C14', 'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21', 'C22', 'C23',  'C24', 'C25', 'C26', 'C27', 'C28', 'C29', 
          'C30',  'C31', 'C32',  'C33', 'D', 'E', 'E36', 'E37', 'E38', 'E39', 'F',
       'G45', 'G46', 'G47','H', 'H49', 'H50', 'H51', 'H52', 'H53',
       'I', 'J', 'J58', 'J59', 'J60', 'J61', 'J62', 'J63',
         'L',  'M', 'M69', 'M70', 'M71',
       'M72', 'M73', 'M74', 'M75', 'N', 'N77', 'N78', 'N79', 'N80', 'N81',
       'N82', 'P',  'Q86', 'Q87', 'Q88', 
       'R90', 'R91', 'R92', 'R93', 'S94', 'S95', 'S96', 'T','U']

In [14]:
#we load the weightsextended file and check the Naces
weights_target = pd.read_excel("ecosystemweightsextended.xlsx")
weights_target.NACE_R2.unique()

array(['A', 'C10', 'C11', 'C12', 'C10-C12', 'C13', 'C14', 'C15',
       'C13-C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21', 'C22', 'C23',
       'C24', 'C25', 'C26', 'C27', 'C28', 'C29', 'C30', 'C31', 'C32',
       'C33', 'D35', 'D', 'E36', 'E37', 'E38', 'E39', 'E37-E39', 'F',
       'G45', 'G46', 'G47', 'H49', 'H50', 'H51', 'H52', 'H53', 'I', 'J58',
       'J59', 'J60', 'J59_J60', 'J61', 'J62', 'J63', 'J62_J63', 'L',
       'M69_M70', 'M69', 'M70', 'M71', 'M72', 'M73', 'M74_M75', 'M74',
       'M75', 'N77', 'N78', 'N77_N78', 'N79', 'N80', 'N81', 'N82', 'P85',
       'P', 'Q86', 'Q87_Q88', 'R90-R92', 'R93', 'S94', 'S95', 'S96', 'T'],
      dtype=object)

In [15]:
#we select the rows that have the right unit, nace codes, partners, stockflow and countries for tec01
df_selection=df[df.sizeclas.isin(size_sel)&df.partner.isin(partner)&df.unit.isin(unit)&df.nace_r2.isin(nace_sel)&df.stk_flow.isin(stk_flow_1)&df.geo.isin(countries_EU27)]
df_selection

,unit,sizeclas,stk_flow,nace_r2,partner,geo,2020,2019,2018,2017,2016,2015,2014,2013,2012
82753,THS_EUR,TOTAL,EXP,A,INT_EU,AT,106681.14,110831.93,110275.10,131920.28,132579.37,119832.06,123095.22,110342.62,109521.70
82755,THS_EUR,TOTAL,EXP,A,INT_EU,BE,1124586.97,NaN,1063944.59,994766.94,998875.45,905585.16,863932.20,882568.21,845515.83
82756,THS_EUR,TOTAL,EXP,A,INT_EU,BG,113050.70,108704.55,108315.09,99134.58,93226.25,76968.04,98718.42,100567.44,97165.54
82758,THS_EUR,TOTAL,EXP,A,INT_EU,CY,8036.32,31514.62,13460.40,10359.43,8716.81,NaN,6256.87,6814.76,3954.23
82759,THS_EUR,TOTAL,EXP,A,INT_EU,CZ,680099.63,575227.75,512856.11,476920.82,470423.79,402659.04,419603.31,413938.00,438574.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86796,THS_EUR,TOTAL,EXP,OTH,INT_EU,PT,92771.16,32935.25,25181.20,66886.70,139329.99,21382.58,106042.46,96469.24,96040.39
86797,THS_EUR,TOTAL,EXP,OTH,INT_EU,RO,3233980.29,154533.86,82451.35,3784907.89,3711852.61,3588284.19,2688978.90,21901.50,20531.97
86798,THS_EUR,TOTAL,EXP,OTH,INT_EU,SE,80601.19,96860.35,84823.59,93088.32,NaN,82660.05,66590.76,58536.79,58888.81
86799,THS_EUR,TOTAL,EXP,OTH,INT_EU,SI,NaN,NaN,NaN,NaN,20972.58,19506.05,17903.39,24138.22,17602.22
86800,THS_EUR,TOTAL,EXP,OTH,INT_EU,SK,129740.30,247697.93,209343.11,178655.54,140118.52,200437.48,174809.11,111478.36,108820.67

In [16]:
# we are going to sum the values for all the countries and reorganize so columns are years and rows are naces
#list of countries which are columns for the iteration
cols=countries_EU27

#we set the decimal to two numbers

pd.set_option('display.float_format', lambda x: '%.2f' % x)
import numpy as np

#we create an empty dataframe for the results of the aggregation of the countries
results_df = pd.DataFrame()

#loop to calculate values
year_i=2012
year_f=2021
#we transpose the values for the year selected
for i in range (year_i,year_f):
    df_target = pd.pivot_table(df_selection, values=i, index=['nace_r2'],columns=["geo"], aggfunc=np.sum, fill_value=0)#reorde
    df_target['sum'] = df_target[cols].sum(axis=1)#sums the columns of the countries to "sum" 
    #print(df_target)
    #save to file with the values for each year
    filename = "%s.xlsx" % str(variable_of_interest + '-year-'+ str(i))
    df_target.to_excel(filename)
    column_name=i
    results_df[column_name]=df_target['sum']#creates a new column with the name of the year and with the aggregated values for all the countries
    df_target=df_target.drop(cols, axis=1)#we eliminate the columns of the countries
results_df

,2012,2013,2014,2015,2016,2017,2018,2019,2020
nace_r2,,,,,,,,,
A,8083025.30,8703486.28,12174932.32,12624635.07,13062669.01,15348058.06,12782063.00,18329215.34,17988797.71
C10,74051590.79,85106877.89,141220579.33,139130407.06,147256044.83,155250720.74,143447195.30,149554476.07,132199786.25
C11,7592345.94,7906151.35,14183727.06,14162516.20,14324394.71,15703223.36,15247478.03,16380785.80,12272129.07
C12,926701.74,1191262.24,1631802.19,1574245.34,1913988.85,2145895.32,1628922.90,1735452.29,1722493.91
C13,11973742.24,12036657.63,23497324.09,24080495.02,24795876.84,25737063.29,25065858.62,24377914.91,18189936.43
C14,10656545.45,10307483.74,19828180.00,20474419.98,20542627.61,19647821.62,19302909.13,19053817.38,13859311.84
C15,6254731.66,6443412.08,16460400.09,16390740.59,16208744.95,16108633.09,16038728.58,14398996.96,10894665.79
C16,14345282.27,14572091.59,21212084.39,21917992.35,22332501.20,23679034.69,25449505.72,25552075.80,21326318.59
C17,28453612.30,29708986.35,47216220.41,48664891.15,47853379.92,44410477.62,50058344.22,49345182.79,35781239.86
C18,4214121.09,4306706.25,7621408.45,7811457.40,7564187.93,7205563.55,6343131.07,6699760.55,5775054.68
C19,20402623.58,18417737.37,30114742.15,32534127.37,29901399.46,38834015.57,22736320.34,31066655.76,20372960.74
C20,72457377.51,75892203.36,136155927.09,134994021.91,130059595.02,142802047.35,144598247.62,142421348.19,126042921.81
C21,17498296.34,38158815.60,72020465.57,79886775.47,80829893.45,76071940.02,83451811.11,70720356.34,67811694.44
C22,38642203.54,40596605.24,76945556.77,81209133.38,83033752.73,88702727.29,93796399.97,92695291.02,80005238.44
C23,15150767.29,14566321.59,29350991.62,30131752.63,30552575.99,31914508.26,34620277.68,35996713.99,30492837.46
C24,60513445.56,59514566.48,115040230.80,114157095.35,108063758.19,123291816.38,134019907.87,133737543.99,90070170.91
C25,42151668.47,42025110.09,84550516.01,88784425.40,94629712.11,101110713.50,106101651.47,106949316.50,88866730.50
C26,34842765.20,34149179.92,57908796.37,59935675.69,62794682.51,64436749.84,67720568.39,67162165.59,58303400.17
C27,38048784.45,38170728.83,79545556.74,83497788.80,84677155.31,91336330.88,92534068.36,91473519.06,80747556.66
C28,58028795.15,51228450.78,150184383.86,156897983.84,163842995.64,177680757.01,187879445.99,183181132.30,152736643.81
C29,122248058.80,124677381.68,274053689.50,316227960.41,338254262.71,350972026.22,331406613.32,346626052.03,251422456.51
C30,23277351.61,24675238.52,57346797.72,59372614.62,39697044.91,56680411.26,56343315.78,61499762.69,41842260.42
C31,10098486.59,10151966.29,20536643.01,21764152.65,22735036.45,23319152.05,24133364.05,24985523.90,21214381.67
C32,9463557.44,13207505.45,26482757.06,28440921.02,30491099.73,29554718.81,31244552.20,32922806.79,28579629.17
C33,4527732.39,4026926.05,6882870.90,8556921.04,7634233.67,5594633.69,6018356.16,8244970.27,3979028.47
D,10950669.56,3444249.53,11729505.51,18292085.23,12674870.36,15147850.85,15014293.76,23088720.27,13549840.46
E,7655242.26,7408506.39,10213650.16,8984821.02,9173605.91,10333734.64,9890634.91,11384108.35,6990433.46
F,4674028.07,4988610.65,6883714.78,8216430.94,7440930.72,6115408.39,5609727.62,5571469.03,4766033.58
G,379347104.55,396330692.06,612241094.19,643081839.88,658797102.10,708225025.35,644200112.70,649255162.38,579491271.69
G45,38513906.32,41968662.93,63791763.72,71982180.97,76233437.58,81995201.79,73594010.49,75669685.16,67467662.88
G46,320560436.82,327719273.08,504867881.33,516698230.34,531417878.01,467370493.33,405874000.59,513104106.05,453757224.28
G47,20272761.44,20918436.94,38131852.46,43692375.97,44478680.58,48297355.63,51897002.84,61067067.12,58584321.48
H,47493617.38,56007998.37,62632688.38,80637427.92,76914382.36,87002883.59,68056408.83,68815581.06,54645170.94
J,5302202.56,5888441.64,11105725.93,11765345.53,11804323.75,10408363.08,9371202.15,11233148.03,9695659.75
L,1134997.63,1190316.59,1277405.13,975062.35,1063701.04,5832342.22,1144269.86,1366649.73,1317929.18
M,24169037.35,24480058.01,27054596.66,35001102.43,34978029.87,38720760.57,36127051.88,35087146.17,30252224.35
N,26213619.71,25880097.32,30164195.47,14744017.57,17802055.17,12037861.11,13198218.95,14163766.85,10600588.62
OTH,3303720.64,3148774.43,8969502.72,9692671.75,10591472.18,10242816.67,6462574.26,5210647.61,7064338.91

In [17]:
#we select the rows that have the right unit, nace codes, partners, stockflow and countries for tec01
# but now for the detailed database tec09
df_det_selection=df_det[df_det.nace_r2.isin(nace_sel_det)&df_det.partner.isin(partner)&df_det.unit.isin(unit)&df_det.stk_flow.isin(stk_flow_1)&df_det.geo.isin(countries_EU27)]
df_det_selection

,unit,stk_flow,nace_r2,partner,geo,2020,2019,2018,2017,2016,2015,2014,2013,2012
27345,THS_EUR,EXP,A,INT_EU,AT,106681.14,110831.93,110275.10,131920.28,132579.37,119832.06,123095.22,NaN,NaN
27346,THS_EUR,EXP,A,INT_EU,BE,1124586.97,NaN,1063944.59,994766.94,998875.45,905585.16,863932.20,NaN,NaN
27347,THS_EUR,EXP,A,INT_EU,CZ,680099.63,575227.75,512856.11,476920.82,470423.79,402659.04,419603.31,413938.00,438574.54
27348,THS_EUR,EXP,A,INT_EU,DE,1285461.04,1370349.23,1356561.77,1122001.69,1159950.38,1116945.88,1104236.18,NaN,NaN
27349,THS_EUR,EXP,A,INT_EU,ES,2024211.21,2366396.72,2216989.85,2057123.17,1923068.14,1897243.90,1544412.14,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40772,THS_EUR,EXP,U,INT_EU,LT,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN
40773,THS_EUR,EXP,U,INT_EU,LV,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40774,THS_EUR,EXP,U,INT_EU,NL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40775,THS_EUR,EXP,U,INT_EU,PT,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN
40776,THS_EUR,EXP,U,INT_EU,RO,0.00,NaN,NaN,0.00,0.00,NaN,0.00,NaN,NaN

In [18]:
#same as before but with the detailed database
cols=countries
results_df_det = pd.DataFrame()
import numpy as np
#loop to calculate va
year_i=2012
year_f=2021
 #we transpose the values for the year selected
for i in range (year_i,year_f):
    df_det_target = pd.pivot_table(df_det_selection, values=i, index=['nace_r2'],columns=["geo"], aggfunc=np.sum, fill_value=0)#reorde
    df_det_target['sum'] = df_det_target[cols].sum(axis=1)#sums the columns of the countries to "sum" 
    #print(df_det_target)
    #save to file
    filename = "%s.xlsx" % str(variable_of_interest + '-year-'+ str(i)+'detailed')
    df_det_target.to_excel(filename)
    column_name=i
    results_df_det[column_name]=df_det_target['sum']
    df_det_target=df_det_target.drop(cols, axis=1)#eliminamos las columnas sumadas de paÃ­ses
results_df_det

,2012,2013,2014,2015,2016,2017,2018,2019,2020
nace_r2,,,,,,,,,
A,438574.54,413938.00,9579283.52,10061384.93,10426209.57,12723167.08,9702326.47,13334529.30,15749390.10
C10,1633142.00,1711678.49,86564169.04,87583085.56,90572095.92,115881318.80,105458110.46,109891726.83,112241242.06
C11,360113.62,369076.43,6918981.97,7093285.22,7093393.37,11002159.44,10399836.65,11141506.50,11273111.67
C12,177337.38,137482.01,1473127.25,1422979.27,1669329.57,1876459.33,1298940.25,1482110.88,1457047.94
C13,957180.49,972613.90,14531645.33,14992289.62,15798334.99,18459716.01,18037829.91,17641701.45,16839221.49
...,...,...,...,...,...,...,...,...,...
S94,0.00,197.34,3241258.77,3706281.46,3760215.85,3901828.04,161885.49,262636.75,3330607.32
S95,68126.95,189361.35,263044.04,275369.75,416218.45,626660.15,762210.70,812955.50,764313.21
S96,1626.64,2037.09,871949.17,666856.35,829154.63,771614.17,767930.13,791164.90,583453.21
T,0.00,0.00,872.45,2863.82,1527.96,5160.28,4065.76,1342.21,1648.15
U,0.00,0.00,220799.76,386.57,3.80,0.17,0.01,0.01,469.55

In [19]:
#we create a dataframe with the same structure that the detailed results we just calculated
ratio_results = results_df_det.copy()
ratio_results

,2012,2013,2014,2015,2016,2017,2018,2019,2020
nace_r2,,,,,,,,,
A,438574.54,413938.00,9579283.52,10061384.93,10426209.57,12723167.08,9702326.47,13334529.30,15749390.10
C10,1633142.00,1711678.49,86564169.04,87583085.56,90572095.92,115881318.80,105458110.46,109891726.83,112241242.06
C11,360113.62,369076.43,6918981.97,7093285.22,7093393.37,11002159.44,10399836.65,11141506.50,11273111.67
C12,177337.38,137482.01,1473127.25,1422979.27,1669329.57,1876459.33,1298940.25,1482110.88,1457047.94
C13,957180.49,972613.90,14531645.33,14992289.62,15798334.99,18459716.01,18037829.91,17641701.45,16839221.49
...,...,...,...,...,...,...,...,...,...
S94,0.00,197.34,3241258.77,3706281.46,3760215.85,3901828.04,161885.49,262636.75,3330607.32
S95,68126.95,189361.35,263044.04,275369.75,416218.45,626660.15,762210.70,812955.50,764313.21
S96,1626.64,2037.09,871949.17,666856.35,829154.63,771614.17,767930.13,791164.90,583453.21
T,0.00,0.00,872.45,2863.82,1527.96,5160.28,4065.76,1342.21,1648.15
U,0.00,0.00,220799.76,386.57,3.80,0.17,0.01,0.01,469.55

In [20]:
#see the columns names in ratio_results
ratio_results.columns

Int64Index([2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020], dtype='int64')

In [21]:
#sets default decimal values to 5
pd.set_option('display.float_format', lambda x: '%.5f' % x)

#iteration to calculate the ratios for the nace codes to later distribute.
import numpy as np
#loop to calculate ratios per year
year_i=2012
year_f=2021

for i in range (year_i,year_f):
#'E'
    ratio_results.loc['E',i]= results_df_det.loc['E36',i]+results_df_det.loc['E37',i]+results_df_det.loc['E38',i]+results_df_det.loc['E39',i]
    ratio_results.loc['E36',i]=results_df_det.loc['E36',i]/ratio_results.loc['E',i]
    ratio_results.loc['E37',i]=results_df_det.loc['E37',i]/ratio_results.loc['E',i]
    ratio_results.loc['E38',i]=results_df_det.loc['E38',i]/ratio_results.loc['E',i]
    ratio_results.loc['E39',i]=results_df_det.loc['E39',i]/ratio_results.loc['E',i]
    #'H'
    ratio_results.loc['H',i]= results_df_det.loc['H49',i]+results_df_det.loc['H50',i]+results_df_det.loc['H51',i]+results_df_det.loc['H52',i]+results_df_det.loc['H53',i]
    ratio_results.loc['H49',i]=results_df_det.loc['H49',i]/ratio_results.loc['H',i]
    ratio_results.loc['H50',i]=results_df_det.loc['H50',i]/ratio_results.loc['H',i]
    ratio_results.loc['H51',i]=results_df_det.loc['H51',i]/ratio_results.loc['H',i]
    ratio_results.loc['H52',i]=results_df_det.loc['H52',i]/ratio_results.loc['H',i]
    ratio_results.loc['H53',i]=results_df_det.loc['H53',i]/ratio_results.loc['H',i]

    #'H'
    ratio_results.loc['J',i]= results_df_det.loc['J58',i]+results_df_det.loc['J59',i]+results_df_det.loc['J60',i]+results_df_det.loc['J61',i]+results_df_det.loc['J62',i]+results_df_det.loc['J63',i]
    ratio_results.loc['J58',i]=results_df_det.loc['J58',i]/ratio_results.loc['J',i]
    ratio_results.loc['J59',i]=results_df_det.loc['J59',i]/ratio_results.loc['J',i]
    ratio_results.loc['J60',i]=results_df_det.loc['J60',i]/ratio_results.loc['J',i]
    ratio_results.loc['J61',i]=results_df_det.loc['J61',i]/ratio_results.loc['J',i]
    ratio_results.loc['J62',i]=results_df_det.loc['J62',i]/ratio_results.loc['J',i]
    ratio_results.loc['J63',i]=results_df_det.loc['J63',i]/ratio_results.loc['J',i]

    #'M'
    ratio_results.loc['M',i]= results_df_det.loc['M69',i]+results_df_det.loc['M70',i]+results_df_det.loc['M71',i]+results_df_det.loc['M72',i]+results_df_det.loc['M73',i]+results_df_det.loc['M74',i]+results_df_det.loc['M75',i]
    ratio_results.loc['M69',i]=results_df_det.loc['M69',i]/ratio_results.loc['M',i]
    ratio_results.loc['M70',i]=results_df_det.loc['M70',i]/ratio_results.loc['M',i]
    ratio_results.loc['M71',i]=results_df_det.loc['M71',i]/ratio_results.loc['M',i]
    ratio_results.loc['M72',i]=results_df_det.loc['M72',i]/ratio_results.loc['M',i]
    ratio_results.loc['M73',i]=results_df_det.loc['M73',i]/ratio_results.loc['M',i]
    ratio_results.loc['M74',i]=results_df_det.loc['M74',i]/ratio_results.loc['M',i]
    ratio_results.loc['M75',i]=results_df_det.loc['M75',i]/ratio_results.loc['M',i]

    #'M'
    ratio_results.loc['N',i]= results_df_det.loc['N77',i]+results_df_det.loc['N78',i]+results_df_det.loc['N79',i]+results_df_det.loc['N80',i]+results_df_det.loc['N81',i]+results_df_det.loc['N82',i]
    ratio_results.loc['N77',i]=results_df_det.loc['N77',i]/ratio_results.loc['N',i]
    ratio_results.loc['N78',i]=results_df_det.loc['N78',i]/ratio_results.loc['N',i]
    ratio_results.loc['N79',i]=results_df_det.loc['N79',i]/ratio_results.loc['N',i]
    ratio_results.loc['N80',i]=results_df_det.loc['N80',i]/ratio_results.loc['N',i]
    ratio_results.loc['N81',i]=results_df_det.loc['N81',i]/ratio_results.loc['N',i]
    ratio_results.loc['N82',i]=results_df_det.loc['N82',i]/ratio_results.loc['N',i]

    #'OTH'
    ratio_results.loc['OTH',i]= results_df_det.loc['I',i]+results_df_det.loc['P',i]+results_df_det.loc['Q86',i]+results_df_det.loc['Q87',i]+results_df_det.loc['Q88',i]+results_df_det.loc['R90',i]+results_df_det.loc['R91',i]+results_df_det.loc['R92',i]+results_df_det.loc['R93',i]+results_df_det.loc['S94',i]+results_df_det.loc['S95',i]+results_df_det.loc['S96',i]+results_df_det.loc['T',i]+results_df_det.loc['U',i]
    ratio_results.loc['P',i]=results_df_det.loc['P',i]/ratio_results.loc['OTH',i]
    ratio_results.loc['I',i]=results_df_det.loc['I',i]/ratio_results.loc['OTH',i]
    ratio_results.loc['Q86',i]=results_df_det.loc['Q86',i]/ratio_results.loc['OTH',i]
    ratio_results.loc['Q87',i]=results_df_det.loc['Q87',i]/ratio_results.loc['OTH',i]
    ratio_results.loc['Q88',i]=results_df_det.loc['Q88',i]/ratio_results.loc['OTH',i]
    ratio_results.loc['R90',i]=results_df_det.loc['R90',i]/ratio_results.loc['OTH',i]
    ratio_results.loc['R91',i]=results_df_det.loc['R91',i]/ratio_results.loc['OTH',i]
    ratio_results.loc['R92',i]=results_df_det.loc['R92',i]/ratio_results.loc['OTH',i]
    ratio_results.loc['R93',i]=results_df_det.loc['R93',i]/ratio_results.loc['OTH',i]
    ratio_results.loc['S94',i]=results_df_det.loc['S94',i]/ratio_results.loc['OTH',i]
    ratio_results.loc['S95',i]=results_df_det.loc['S95',i]/ratio_results.loc['OTH',i]
    ratio_results.loc['S96',i]=results_df_det.loc['S96',i]/ratio_results.loc['OTH',i]
    ratio_results.loc['T',i]=results_df_det.loc['T',i]/ratio_results.loc['OTH',i]
    ratio_results.loc['U',i]=results_df_det.loc['U',i]/ratio_results.loc['OTH',i]

    #aggregation
    ratio_results.loc['Q87_Q88',i]=ratio_results.loc['Q87',i]+ratio_results.loc['Q88',i]
    ratio_results.loc['R90-R92',i]=ratio_results.loc['R90',i]+ratio_results.loc['R91',i]+ratio_results.loc['R92',i]


ratio_results

,2012,2013,2014,2015,2016,2017,2018,2019,2020
nace_r2,,,,,,,,,
A,438574.54000,413938.00000,9579283.52000,10061384.93000,10426209.57000,12723167.08000,9702326.47000,13334529.30000,15749390.10000
C10,1633142.00000,1711678.49000,86564169.04000,87583085.56000,90572095.92000,115881318.80000,105458110.46000,109891726.83000,112241242.06000
C11,360113.62000,369076.43000,6918981.97000,7093285.22000,7093393.37000,11002159.44000,10399836.65000,11141506.50000,11273111.67000
C12,177337.38000,137482.01000,1473127.25000,1422979.27000,1669329.57000,1876459.33000,1298940.25000,1482110.88000,1457047.94000
C13,957180.49000,972613.90000,14531645.33000,14992289.62000,15798334.99000,18459716.01000,18037829.91000,17641701.45000,16839221.49000
...,...,...,...,...,...,...,...,...,...
T,0.00000,0.00000,0.00013,0.00039,0.00023,0.00064,0.00105,0.00030,0.00026
U,0.00000,0.00000,0.03219,0.00005,0.00000,0.00000,0.00000,0.00000,0.00007
OTH,104586.04000,224105.96000,6859090.33000,7321866.58000,6689922.10000,8091495.11000,3857410.54000,4442187.37000,6354970.11000
Q87_Q88,0.00431,0.00192,0.01576,0.01319,0.01263,0.01496,0.04015,0.02110,0.01435
R90-R92,0.08945,0.00578,0.04550,0.03727,0.04286,0.04478,0.09739,0.08282,0.03976

In [22]:
#remove rows that are not needed to distribute nace codes. 
#So we just maintain the ratios of those naces that are needed to distribute the values in tec01. 
indexes=['A','C10', 'C11', 'C12', 'C13', 'C14', 'C15', 'C16', 'C17',
 'C18', 'C19', 'C20', 'C21', 'C22', 'C23', 'C24', 'C25', 'C26', 'C27', 'C28', 'C29', 'C30', 'C31', 'C32', 'C33',
 'D', 'F', 'G45', 'G46', 'G47', 'L', 'R90','R91', 'R92', 'Q87', 'Q88', 'E', 'H','J', 'M','N', 'OTH']
ratio_results.drop(indexes,inplace=True)
ratio_results

,2012,2013,2014,2015,2016,2017,2018,2019,2020
nace_r2,,,,,,,,,
E36,0.00488,0.00446,0.00286,0.00267,0.00183,0.00363,0.00152,0.00212,0.00188
E37,0.00000,0.00000,0.00274,0.00362,0.00472,0.00816,0.00636,0.00654,0.00362
E38,0.99435,0.99441,0.99035,0.98860,0.98845,0.98297,0.98574,0.98456,0.98972
E39,0.00077,0.00113,0.00404,0.00511,0.00499,0.00524,0.00639,0.00679,0.00478
H49,0.25818,0.26491,0.13385,0.11198,0.10411,0.13886,0.06766,0.02922,0.05470
H50,0.00186,0.00000,0.00058,0.00075,0.01255,0.00438,0.01217,0.01160,0.01158
H51,0.16024,0.38074,0.04520,0.04496,0.05377,0.09977,0.14825,0.16552,0.07050
H52,0.57972,0.35435,0.81898,0.84037,0.82868,0.75532,0.77027,0.79161,0.86054
H53,0.00000,0.00000,0.00139,0.00194,0.00088,0.00167,0.00165,0.00205,0.00268
I,0.03716,0.02516,0.08409,0.11093,0.05054,0.10618,0.12969,0.15801,0.08752
J58,0.20612,0.20075,0.30148,0.31662,0.33272,0.28808,0.27638,0.26810,0.28013
J59,0.02069,0.03989,0.05996,0.06926,0.05983,0.07148,0.04974,0.04454,0.04943
J60,0.00000,0.00009,0.00403,0.00150,0.00593,0.00925,0.00740,0.00634,0.00200
J61,0.03687,0.04017,0.06920,0.07645,0.08721,0.15237,0.17667,0.16502,0.16369
J62,0.70735,0.71606,0.49951,0.44576,0.43041,0.37995,0.39833,0.43252,0.43269
J63,0.02897,0.00304,0.06583,0.09040,0.08390,0.09888,0.09148,0.08348,0.07205
M69,0.02134,0.05518,0.03888,0.01239,0.00858,0.02721,0.00991,0.02429,0.02903
M70,0.04356,0.03263,0.63706,0.61011,0.62307,0.57803,0.57083,0.50765,0.48531
M71,0.57184,0.47908,0.16163,0.23399,0.24529,0.25499,0.27424,0.26911,0.23123
M72,0.06927,0.05360,0.06733,0.06945,0.04208,0.05876,0.05539,0.09496,0.13452
M73,0.11770,0.05606,0.03477,0.02596,0.02842,0.02927,0.03266,0.03907,0.03022
M74,0.17630,0.32345,0.05965,0.04434,0.04927,0.05100,0.05600,0.06378,0.08833
M75,0.00000,0.00000,0.00069,0.00376,0.00330,0.00074,0.00098,0.00114,0.00135
N77,0.22683,0.24758,0.12925,0.40596,0.28917,0.46430,0.41009,0.40957,0.39349
N78,0.01820,0.01496,0.00813,0.02970,0.02057,0.02929,0.03886,0.03766,0.05216
N79,0.00149,0.00603,0.00125,0.01156,0.00519,0.00947,0.00889,0.00655,0.00689
N80,0.00195,0.00225,0.00321,0.01182,0.00905,0.01405,0.01196,0.01207,0.00601
N81,0.00986,0.00562,0.01437,0.04793,0.03723,0.04764,0.04541,0.03598,0.04716
N82,0.74167,0.72357,0.84379,0.49303,0.63879,0.43524,0.48480,0.49817,0.49430
P,0.02471,0.03365,0.01421,0.01280,0.01594,0.02457,0.05004,0.06146,0.02780
Q86,0.10350,0.04977,0.15059,0.15402,0.09261,0.12473,0.17425,0.17506,0.06298
R93,0.07393,0.02880,0.01950,0.03647,0.03697,0.02912,0.06878,0.08101,0.03107
S94,0.00000,0.00088,0.47255,0.50619,0.56207,0.48221,0.04197,0.05912,0.52409
S95,0.65140,0.84496,0.03835,0.03761,0.06222,0.07745,0.19760,0.18301,0.12027
S96,0.01555,0.00909,0.12712,0.09108,0.12394,0.09536,0.19908,0.17810,0.09181
T,0.00000,0.00000,0.00013,0.00039,0.00023,0.00064,0.00105,0.00030,0.00026
U,0.00000,0.00000,0.03219,0.00005,0.00000,0.00000,0.00000,0.00000,0.00007
Q87_Q88,0.00431,0.00192,0.01576,0.01319,0.01263,0.01496,0.04015,0.02110,0.01435
R90-R92,0.08945,0.00578,0.04550,0.03727,0.04286,0.04478,0.09739,0.08282,0.03976

In [23]:
#save to file to calculate ratios.
#be aware that the ratios will change for each stockflow, partner,... So we create on for each
filename = "%s.xlsx" % str('ratios' + variable_of_interest)
ratio_results.to_excel(filename)

In [24]:
#sets default decimal values to 2
pd.set_option('display.float_format', lambda x: '%.2f' % x)

#we create a copy of the results in tec01 (includes all the countries in EU27) 
#to use it as auxiliary dataframe to distribute the weights
results_df_naceweights=results_df.copy()
results_df_naceweights

,2012,2013,2014,2015,2016,2017,2018,2019,2020
nace_r2,,,,,,,,,
A,8083025.30,8703486.28,12174932.32,12624635.07,13062669.01,15348058.06,12782063.00,18329215.34,17988797.71
C10,74051590.79,85106877.89,141220579.33,139130407.06,147256044.83,155250720.74,143447195.30,149554476.07,132199786.25
C11,7592345.94,7906151.35,14183727.06,14162516.20,14324394.71,15703223.36,15247478.03,16380785.80,12272129.07
C12,926701.74,1191262.24,1631802.19,1574245.34,1913988.85,2145895.32,1628922.90,1735452.29,1722493.91
C13,11973742.24,12036657.63,23497324.09,24080495.02,24795876.84,25737063.29,25065858.62,24377914.91,18189936.43
C14,10656545.45,10307483.74,19828180.00,20474419.98,20542627.61,19647821.62,19302909.13,19053817.38,13859311.84
C15,6254731.66,6443412.08,16460400.09,16390740.59,16208744.95,16108633.09,16038728.58,14398996.96,10894665.79
C16,14345282.27,14572091.59,21212084.39,21917992.35,22332501.20,23679034.69,25449505.72,25552075.80,21326318.59
C17,28453612.30,29708986.35,47216220.41,48664891.15,47853379.92,44410477.62,50058344.22,49345182.79,35781239.86
C18,4214121.09,4306706.25,7621408.45,7811457.40,7564187.93,7205563.55,6343131.07,6699760.55,5775054.68
C19,20402623.58,18417737.37,30114742.15,32534127.37,29901399.46,38834015.57,22736320.34,31066655.76,20372960.74
C20,72457377.51,75892203.36,136155927.09,134994021.91,130059595.02,142802047.35,144598247.62,142421348.19,126042921.81
C21,17498296.34,38158815.60,72020465.57,79886775.47,80829893.45,76071940.02,83451811.11,70720356.34,67811694.44
C22,38642203.54,40596605.24,76945556.77,81209133.38,83033752.73,88702727.29,93796399.97,92695291.02,80005238.44
C23,15150767.29,14566321.59,29350991.62,30131752.63,30552575.99,31914508.26,34620277.68,35996713.99,30492837.46
C24,60513445.56,59514566.48,115040230.80,114157095.35,108063758.19,123291816.38,134019907.87,133737543.99,90070170.91
C25,42151668.47,42025110.09,84550516.01,88784425.40,94629712.11,101110713.50,106101651.47,106949316.50,88866730.50
C26,34842765.20,34149179.92,57908796.37,59935675.69,62794682.51,64436749.84,67720568.39,67162165.59,58303400.17
C27,38048784.45,38170728.83,79545556.74,83497788.80,84677155.31,91336330.88,92534068.36,91473519.06,80747556.66
C28,58028795.15,51228450.78,150184383.86,156897983.84,163842995.64,177680757.01,187879445.99,183181132.30,152736643.81
C29,122248058.80,124677381.68,274053689.50,316227960.41,338254262.71,350972026.22,331406613.32,346626052.03,251422456.51
C30,23277351.61,24675238.52,57346797.72,59372614.62,39697044.91,56680411.26,56343315.78,61499762.69,41842260.42
C31,10098486.59,10151966.29,20536643.01,21764152.65,22735036.45,23319152.05,24133364.05,24985523.90,21214381.67
C32,9463557.44,13207505.45,26482757.06,28440921.02,30491099.73,29554718.81,31244552.20,32922806.79,28579629.17
C33,4527732.39,4026926.05,6882870.90,8556921.04,7634233.67,5594633.69,6018356.16,8244970.27,3979028.47
D,10950669.56,3444249.53,11729505.51,18292085.23,12674870.36,15147850.85,15014293.76,23088720.27,13549840.46
E,7655242.26,7408506.39,10213650.16,8984821.02,9173605.91,10333734.64,9890634.91,11384108.35,6990433.46
F,4674028.07,4988610.65,6883714.78,8216430.94,7440930.72,6115408.39,5609727.62,5571469.03,4766033.58
G,379347104.55,396330692.06,612241094.19,643081839.88,658797102.10,708225025.35,644200112.70,649255162.38,579491271.69
G45,38513906.32,41968662.93,63791763.72,71982180.97,76233437.58,81995201.79,73594010.49,75669685.16,67467662.88
G46,320560436.82,327719273.08,504867881.33,516698230.34,531417878.01,467370493.33,405874000.59,513104106.05,453757224.28
G47,20272761.44,20918436.94,38131852.46,43692375.97,44478680.58,48297355.63,51897002.84,61067067.12,58584321.48
H,47493617.38,56007998.37,62632688.38,80637427.92,76914382.36,87002883.59,68056408.83,68815581.06,54645170.94
J,5302202.56,5888441.64,11105725.93,11765345.53,11804323.75,10408363.08,9371202.15,11233148.03,9695659.75
L,1134997.63,1190316.59,1277405.13,975062.35,1063701.04,5832342.22,1144269.86,1366649.73,1317929.18
M,24169037.35,24480058.01,27054596.66,35001102.43,34978029.87,38720760.57,36127051.88,35087146.17,30252224.35
N,26213619.71,25880097.32,30164195.47,14744017.57,17802055.17,12037861.11,13198218.95,14163766.85,10600588.62
OTH,3303720.64,3148774.43,8969502.72,9692671.75,10591472.18,10242816.67,6462574.26,5210647.61,7064338.91

In [25]:
#we created two lists for the iteration to make it simpler
list_nace=[ 'E36','E37','E38','E39','H49','H50', 'H51', 'H52', 'H53','J58',
 'J59', 'J60', 'J61', 'J62', 'J63', 'M69', 'M70', 'M71',
 'M72', 'M73', 'M74', 'M75', 'N77', 'N78', 'N79', 'N80','N81', 'N82', 
'I','P', 'Q86', 'Q87_Q88', 'R90-R92', 'R93', 'S94', 'S95', 'S96', 'T','U']
list_nace_agg=['E','E','E','E','H','H', 'H', 'H', 'H','J',
 'J', 'J', 'J', 'J', 'J', 'M', 'M', 'M',
 'M', 'M', 'M', 'M', 'N', 'N', 'N', 'N','N', 'N', 
'OTH','OTH', 'OTH','OTH', 'OTH', 'OTH', 'OTH', 'OTH', 'OTH', 'OTH', 'OTH']
length= len(list_nace)

#loop to calculate distribute the aggregated values for all the years

year_i=2012
year_f=2021
 #we transpose the values for the year selected
for i in range (year_i,year_f):
    for n in range(0,length):
        results_df_naceweights.loc[list_nace[n],i]=results_df_naceweights.loc[list_nace_agg[n],i]*ratio_results.loc[list_nace[n],i]
    
results_df_naceweights
#now all the original aggregated codes are distributed in codes that match the ecosystemweights

,2012,2013,2014,2015,2016,2017,2018,2019,2020
nace_r2,,,,,,,,,
A,8083025.30,8703486.28,12174932.32,12624635.07,13062669.01,15348058.06,12782063.00,18329215.34,17988797.71
C10,74051590.79,85106877.89,141220579.33,139130407.06,147256044.83,155250720.74,143447195.30,149554476.07,132199786.25
C11,7592345.94,7906151.35,14183727.06,14162516.20,14324394.71,15703223.36,15247478.03,16380785.80,12272129.07
C12,926701.74,1191262.24,1631802.19,1574245.34,1913988.85,2145895.32,1628922.90,1735452.29,1722493.91
C13,11973742.24,12036657.63,23497324.09,24080495.02,24795876.84,25737063.29,25065858.62,24377914.91,18189936.43
...,...,...,...,...,...,...,...,...,...
S94,0.00,2772.70,4238532.80,4906367.69,5953166.71,4939224.30,271217.44,308070.65,3702383.88
S95,2152031.10,2660599.37,343977.72,364533.90,658956.27,793273.05,1276981.85,953589.82,849629.10
S96,51383.19,28621.89,1140231.44,882783.05,1312716.06,976766.64,1286563.99,928029.63,648580.74
T,0.00,0.00,1140.89,3791.12,2419.06,6532.27,6811.64,1574.40,1832.12
U,0.00,0.00,288735.67,511.74,6.02,0.22,0.02,0.01,521.96

In [26]:
#create a dataframe for the results
results_compiled = pd.DataFrame()

import numpy as np
#loop to calculate values for years
for j in range (2012,2021):
    #for each year we create a base dataframe with the ecosystem weights
    weights_target = pd.read_excel("ecosystemweightsextended.xlsx")
    weights_target.set_index('NACE_R2', inplace=True)#we set nace as the index
    weights_target[variable_of_interest]=weights_target.index.map(results_df_naceweights[j])
    #we look in results_df_naceweights for the same nace as in weights_target and copy the
    # value of results_df_naceweights in a new column in the correspondig row (same nace)
    #so now we have the ecosystems columns and an extra column with the value of the variable of interest
    #the rows of the dataframe are the differnt naces in ecosystemweightsextended
   
    #create a results dataframe
    results=weights_target
    #we are going to iterate in the dataframe to multiply the value of the variable of interest by
    #the weight, so we are distributing the value among the ecosystems
    #once we finish we calculate the total as the sum of all the values aggregated in a ecosystem
    for i in range(0,14):
        results.iloc[:, i]=weights_target.iloc[:, i]*weights_target[variable_of_interest]#we multiply the total value added by the weight for each nace
    results.loc['total'] = results.select_dtypes(pd.np.number).sum() #we add the values of each colum in a row call total
    colname= str(variable_of_interest)+str(j)
    #we copy the results of the totals of the corresponding year to a new database that compiles all the years
    results_compiled[colname]=results.loc['total']
results_compiled = results_compiled.drop(variable_of_interest)
results_compiled

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

,Trade['EXP']['INT_EU']['TOTAL']2012,Trade['EXP']['INT_EU']['TOTAL']2013,Trade['EXP']['INT_EU']['TOTAL']2014,Trade['EXP']['INT_EU']['TOTAL']2015,Trade['EXP']['INT_EU']['TOTAL']2016,Trade['EXP']['INT_EU']['TOTAL']2017,Trade['EXP']['INT_EU']['TOTAL']2018,Trade['EXP']['INT_EU']['TOTAL']2019,Trade['EXP']['INT_EU']['TOTAL']2020
Aerospace & Defence,55388226.53,55347783.64,113048406.03,120746125.93,109035864.17,125073701.28,125483412.71,129206567.91,102482061.01
Agri-food,100846950.74,112401100.22,190487729.97,190386668.15,200193806.25,213739443.39,199324377.57,212235528.74,185451968.27
Construction,59710992.02,55913755.79,94243771.03,105351735.73,108855677.13,114508381.16,118124508.10,118065165.42,97093388.73
Cultural and Creative Industries,16781748.79,17731971.82,21126427.02,22980461.06,23565165.33,23103912.58,22061814.93,23122287.26,19960177.38
Digital,18126301.92,18373429.10,31758605.79,33576320.21,34674418.42,34355751.26,34857324.68,36360921.63,31012896.73
Electronics,43316227.79,41739345.14,78605036.82,81707890.23,85469195.66,88995573.32,93586914.64,92557615.54,79447760.76
Energy - Renewables,19574791.62,17302851.93,37731387.35,41414874.37,40413204.66,43991757.41,44621520.30,46544746.55,38755951.41
Energy Intensive Industries,255531698.62,258465095.61,467571681.01,475943468.65,464566353.12,507347605.72,519436586.24,524971699.02,415521657.96
Health,35791735.34,59435565.27,116758140.91,128229136.92,131190587.55,127257574.15,136850750.33,125485917.85,113930567.10
Mobility - Transport - Automotive,216117614.36,218505349.83,449012579.29,510906742.55,532558646.71,564576165.46,531565515.93,549295126.20,422412012.53
"Proximity, Social Economy and Civil Security",12154859.86,12329543.45,19526081.52,19067074.16,20545404.28,21489685.87,22916145.04,23537454.82,20451057.26
Retail,349179175.15,356464937.91,560158024.86,579318995.10,595226469.97,536517094.31,479033909.60,595302145.80,529558086.89
Textile,30233067.57,30041087.64,62542056.90,63916012.82,64618496.29,64798547.75,63823502.52,61237516.18,45717454.00
Tourism,39231810.71,51359121.92,46760771.32,31381603.13,35604760.95,36867067.69,36601478.11,37063609.42,25030837.03

In [27]:
filename = "%s.xlsx" % str(variable_of_interest)
ratio_results.to_excel(filename)