In [1]:
# pandas
import pandas as pd 
# pip install eurostat  #herramienta para importar datos de eurostat

In [2]:
#change the number to select another database
database_sel= 'env_ac_pefasu' 
database_sel

'env_ac_pefasu'

In [3]:
#nama_10_a64 National accounts aggregates by industry (up to NACE A*64)
#NAMA_10_A64_P5 Gross capital formation by industry (up to NACE A*64)
#National accounts employment data by industry (up to NACE A*64)

import eurostat
df = eurostat.get_data_df(database_sel, flags=False)
df

,stk_flow,nace_r2,prod_nrg,unit,geo\time,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
0,ER_USE,A,EPRD_OUSE,TJ,AT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ER_USE,A,EPRD_OUSE,TJ,BE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ER_USE,A,EPRD_OUSE,TJ,BG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ER_USE,A,EPRD_OUSE,TJ,CH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ER_USE,A,EPRD_OUSE,TJ,CY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514990,USE_TRS,U,SD_IO,TJ,SE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
514991,USE_TRS,U,SD_IO,TJ,SI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
514992,USE_TRS,U,SD_IO,TJ,SK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
514993,USE_TRS,U,SD_IO,TJ,TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
514994,USE_TRS,U,SD_IO,TJ,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['stk_flow',  'nace_r2', 'prod_nrg',     'unit', 'geo\time',       2020,
             2019,       2018,       2017,       2016,       2015,       2014,
             2013,       2012,       2011,       2010,       2009,       2008],
      dtype='object')

In [5]:
#eliminate columns for years previous to 2011
years =[]
year_start=2008
year_study=2011
for y in range(year_start,year_study): 
    years.append(y)
df=df.drop(years, axis=1)#quitamos todas las columnas de aÃ±osque no nos interesan
#rename geo time column to be easier to handle because of the name
df.rename(columns={"geo\\time": "geo"}, inplace=True)
#We can get the unique values of the different variables

In [6]:
unit=['TJ']

In [7]:
stkflow=['USE']

N00 -Natural energy inputs
N00_P00_R00 -Natural energy inputs, energy products and energy residuals
N01 -Fossil non-renewable natural energy inputs
N02 -Nuclear non-renewable natural energy inputs
N03 -Hydro based renewable natural energy inputs
N04 -Wind based renewable natural energy inputs
N05 -Solar based renewable natural energy inputs
N06 -Biomass based renewable natural energy inputs
N07 -Other renewable natural energy inputs

In [8]:
naitem=['N03','N04','N05','N06','N07']

In [9]:
df.nace_r2.unique()

array(['A', 'A01', 'A02', 'A03', 'B', 'C', 'C10-C12', 'C13-C15', 'C16',
       'C17', 'C18', 'C19', 'C20', 'C21', 'C22', 'C23', 'C24', 'C25',
       'C26', 'C27', 'C28', 'C29', 'C30', 'C31_C32', 'C33', 'CH_INV_PA',
       'D', 'E', 'E36', 'E37-E39', 'ENV', 'F', 'G', 'G45', 'G46', 'G47',
       'H', 'H49', 'H50', 'H51', 'H52', 'H53', 'HH', 'HH_HEAT', 'HH_OTH',
       'HH_TRA', 'I', 'J', 'J58', 'J59_J60', 'J61', 'J62_J63', 'K', 'K64',
       'K65', 'K66', 'L', 'L68A', 'M', 'M69_M70', 'M71', 'M72', 'M73',
       'M74_M75', 'N', 'N77', 'N78', 'N79', 'N80-N82', 'NRG_FLOW', 'O',
       'P', 'Q', 'Q86', 'Q87_Q88', 'R', 'R90-R92', 'R93', 'ROW_ACT', 'S',
       'S94', 'S95', 'S96', 'SD_SU', 'T', 'TOTAL', 'U'], dtype=object)

In [10]:
nacedrop=['O','K66', 'J', 'H', 'C16-C18','A03', 'O-Q', 'E', 'C31-C33', 'M_N', 'J58-J60', 'R-U', 'G', 'K', 'TOTAL', 'L68A', 'A02', 'C22_C23', 'C29_C30',  'B-E', 'G-I', 'N', 'Q', 'R', 'C24_C25','C', 'M69-M71', 'M73-M75', 'U', 'S', 'B', 'M', 'A01', 'K65','K64']
countries_not_selected= ['UK', 'TR', 'AL','IS','LI','NO','CH','UK','ME','MK','AL','RS','TR','BA','EU28','EU15','EA','EA19','EA12']
#We can get the selected values we want from nace 
#naceall=df.nace_r2.unique()
#nace=set(naceall)-set(nacedrop)
#df[df.unit.isin(unit)&df.nace_r2.isin(nace)&df.na_item.isin(naitem)]
#or we can select those that are not in the list nacedrop by using ~df.nace_r2.isin(nacedrop) later

In [11]:
#ratios to divide N80_82 and 31_32. Value Added from SBS
ratios_values = pd.read_excel("ratioCN-Value added at factor cost - million euro.xlsx")
ratios_values.set_index('nace_r2', inplace=True)#nace como Ã­ndice
ratios_values

,Value added at factor cost - million euro2011,Value added at factor cost - million euro2012,Value added at factor cost - million euro2013,Value added at factor cost - million euro2014,Value added at factor cost - million euro2015,Value added at factor cost - million euro2016,Value added at factor cost - million euro2017,Value added at factor cost - million euro2018,Value added at factor cost - million euro2019
nace_r2,,,,,,,,,
C31,0.398512,0.403322,0.400551,0.398158,0.400751,0.409175,0.388565,0.382716,0.390244
C32,0.601488,0.596678,0.599449,0.601842,0.599249,0.590825,0.611435,0.617284,0.609756
N80,0.165778,0.162820,0.158483,0.152327,0.157963,0.160093,0.155610,0.145835,0.145557
N81,0.462572,0.459438,0.466741,0.463845,0.467105,0.467350,0.469511,0.477816,0.490550
N82,0.371650,0.377742,0.374777,0.383828,0.374932,0.372558,0.374879,0.376349,0.363893

In [12]:
weights_target = pd.read_excel("ecosystemweights.xlsx")
weights_target

,NACE_R2,Aerospace & Defence,Agri-food,Construction,Cultural and Creative Industries,Digital,Electronics,Energy - Renewables,Energy Intensive Industries,Health,Mobility - Transport - Automotive,"Proximity, Social Economy and Civil Security",Retail,Textile,Tourism
0,A,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,C10-C12,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,C13-C15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
3,C16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,C17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,C18,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,C19,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,C20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,C21,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,C22,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,C23,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,C24,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,C25,0.097362,0.066168,0.305189,0.008982,0.020901,0.019600,0.015553,0.036324,0.051639,0.235501,0.023466,0.044200,0.008535,0.036845
13,C26,0.440000,0.000000,0.000000,0.000000,0.222517,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,C27,0.230000,0.000000,0.000000,0.000000,0.000000,0.000000,0.378114,0.000000,0.000000,0.025089,0.000000,0.000000,0.000000,0.000000
15,C28,0.067894,0.078244,0.198393,0.012618,0.030525,0.122558,0.015984,0.040056,0.056225,0.277642,0.029954,0.057346,0.009986,0.050067
16,C29,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
17,C30,0.681044,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.318958,0.000000,0.000000,0.000000,0.000000
18,C31,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,C32,0.000000,0.000000,0.000000,0.079000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,C33,0.166456,0.118497,0.155381,0.013205,0.032879,0.015305,0.016405,0.047373,0.068633,0.165263,0.035659,0.064677,0.009670,0.071660
21,D,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.290000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,E36,0.017444,0.121809,0.102483,0.024670,0.022172,0.006887,0.011280,0.040057,0.110972,0.058200,0.076530,0.074141,0.012856,0.104587
23,E37-E39,0.027442,0.094801,0.136681,0.018941,0.027805,0.010187,0.014313,0.086234,0.085284,0.098157,0.053702,0.077560,0.014370,0.071190
24,F,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,G45,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
26,G46,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
27,G47,0.000000,0.000000,0.000000,0.012000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.155000,1.000000,0.000000,0.000000
28,H49,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.517742,0.000000,0.000000,0.000000,0.445221
29,H50,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.777240,0.000000,0.000000,0.000000,0.222225
30,H51,0.092866,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.907134
31,H52,0.178000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.393612,0.000000,0.000000,0.000000,0.000000
32,H53,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
33,I,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.140000,0.000000,0.000000,1.000000
34,J58,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35,J59_J60,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
36,J61,0.069000,0.000000,0.000000,0.000000,0.972721,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
37,J62_J63,0.000000,0.000000,0.000000,0.004000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
38,L,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.083600,0.000000,0.000000,0.000000
39,M69_M70,0.024984,0.077210,0.115127,0.027735,0.051335,0.011667,0.009650,0.049054,0.087623,0.086191,0.057233,0.134521,0.011523,0.067615
40,M71,0.033689,0.060163,1.256805,0.173047,0.044230,0.014561,0.011725,0.036812,0.076141,0.092899,0.044152,0.080038,0.011156,0.054884
41,M72,0.056517,0.072081,0.104068,0.027198,0.069032,0.050716,0.008286,0.030642,0.142165,0.129971,0.046536,0.081408,0.011505,0.048453
42,M73,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
43,M74_M75,0.000000,0.000000,0.000000,0.640000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
44,N77,0.027148,0.082093,0.129191,0.029051,0.051669,0.013045,0.008469,0.031288,0.099961,0.085503,0.061228,0.126924,0.009894,0.082765
45,N78,0.027148,0.082093,0.129191,0.028451,0.051669,0.013045,0.008469,0.031288,0.099961,0.085503,0.061228,0.126924,0.009894,0.082765
46,N79,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
47,N80,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
48,N81,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.280000,0.000000,0.000000,0.000000
49,N82,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.110000,0.000000,0.000000,1.000000
50,P,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
51,Q86,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
52,Q87_Q88,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000
53,R90-R92,0.000000,0.000000,0.000000,0.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.660000
54,R93,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
55,S94,0.000000,0.000000,0.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
56,S95,0.000000,0.000000,0.000000,0.260000,0.480000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
57,S96,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
58,T,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000

In [13]:
weights_target.NACE_R2.unique()

array(['A', 'C10-C12', 'C13-C15', 'C16', 'C17', 'C18', 'C19', 'C20',
       'C21', 'C22', 'C23', 'C24', 'C25', 'C26', 'C27', 'C28', 'C29',
       'C30', 'C31', 'C32', 'C33', 'D', 'E36', 'E37-E39', 'F', 'G45',
       'G46', 'G47', 'H49', 'H50', 'H51', 'H52', 'H53', 'I', 'J58',
       'J59_J60', 'J61', 'J62_J63', 'L', 'M69_M70', 'M71', 'M72', 'M73',
       'M74_M75', 'N77', 'N78', 'N79', 'N80', 'N81', 'N82', 'P', 'Q86',
       'Q87_Q88', 'R90-R92', 'R93', 'S94', 'S95', 'S96', 'T'],
      dtype=object)

In [14]:
for item in naitem:
    items=[item]
    variable_of_interest=item

    #we select the rows that have the right unit, nace codes, items and countries
    df_selection=df[df.stk_flow.isin(stkflow)&~df.nace_r2.isin(nacedrop)&df.prod_nrg.isin(items)&~df.geo.isin(countries_not_selected)]
    df_selection


    # columns of countries to be eliminated
    cols = ['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES', 'FI','FR', 'HR', 'HU', 'IE', 'IT', 'LT','LU', 'LV', 'MT','NL', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK']

    #create a dataframe for the results
    results_compiled = pd.DataFrame()
    import numpy as np
    #loop to calculate values for years
    for j in range (2011,2019):
        year=j
        #we transpose the values for the year selected
        for i in range (year,year+1):
            df_target = pd.pivot_table(df_selection, values=i, index=['nace_r2'],columns=["geo"], aggfunc=np.sum, fill_value=0)#reorde
        df_target['sum'] = df_target[cols].sum(axis=1)#sums the columns of the countries to "sum" 
        df_target=df_target.drop(cols, axis=1)#eliminamos las columnas sumadas de paÃ­ses
        df_target.loc[df_target['EU27_2020']==0,'EU27_2020'] = df_target['sum']#now we can locate columns with 0 and make the substitution with the column "sum"
        moddf_target=df_target.drop('sum', axis=1)#we create a new table 
        #add rows C31,... and assign value with the ratio multiplying by the value of position C31_32
        year_ratio=j-2011
        moddf_target.loc['C31'] = ratios_values.iloc[0][year_ratio]*moddf_target.loc['C31_C32','EU27_2020']
        moddf_target.loc['C32'] = ratios_values.iloc[1][year_ratio]*moddf_target.loc['C31_C32','EU27_2020']
        moddf_target.loc['N80'] = ratios_values.iloc[2][year_ratio]*moddf_target.loc['N80-N82','EU27_2020']
        moddf_target.loc['N81'] = ratios_values.iloc[3][year_ratio]*moddf_target.loc['N80-N82','EU27_2020']
        moddf_target.loc['N82'] = ratios_values.iloc[4][year_ratio]*moddf_target.loc['N80-N82','EU27_2020']
        #we eliminate rows C31_C32
        moddf_target = moddf_target.drop(['C31_C32', 'N80-N82'])
        pd.set_option('display.float_format', lambda x: '%.4f' % x)
        #cargamos los pesos en el dataframe weight  
        weights_target = pd.read_excel("ecosystemweights.xlsx")
        weights_target.set_index('NACE_R2', inplace=True)#nace como Ã­ndice
        column_name=str(variable_of_interest)+"-"+str(year)
        weights_target[variable_of_interest]=weights_target.index.map(moddf_target['EU27_2020'])#busca en df_target el nace y copia el valor de EU27_2020 en la fila del nace the weights_target
        #creamos la matriz de resultados
        results=weights_target
        for i in range(0,14):
            results.iloc[:, i]=weights_target.iloc[:, i]*weights_target[variable_of_interest]#we multiply the total value added by the weight for each nace
        results.loc['total'] = results.select_dtypes(pd.np.number).sum() #we add the values of each colum in a row call total
        results_compiled[column_name]=results.loc['total']
    results_compiled = results_compiled.drop(variable_of_interest)
    #sum of the totals
    results_SMEs = results_compiled.copy()  
    results_big = results_compiled.copy()
    #results_compiled.loc['total'] = results_compiled.select_dtypes(pd.np.number).sum()
    display(results_compiled)
    #save to file
    filename = "%s.xlsx" % variable_of_interest
    results_compiled.to_excel(filename)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:45: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

,N03-2011,N03-2012,N03-2013,N03-2014,N03-2015,N03-2016,N03-2017,N03-2018
Aerospace & Defence,78.3807,37.2346,41.9821,26.3958,33.7625,34.7386,39.2102,52.5692
Agri-food,51.2882,27.2160,43.0681,61.9518,67.1402,65.7885,66.8248,83.8799
Construction,175.8238,99.3316,119.3554,82.6858,101.0623,99.0378,109.4933,137.4567
Cultural and Creative Industries,15.6455,9.9178,14.0597,18.9636,13.7148,16.0934,12.7828,17.6012
Digital,5.9279,1.8761,3.5483,6.7764,7.9069,7.8376,7.9239,10.0428
Electronics,3.2059,1.3056,1.8533,3.1613,4.2666,4.4191,4.5650,5.6623
Energy - Renewables,167439.2215,179997.3425,222232.9918,385501.8609,349974.5819,360068.1838,306341.5611,358374.1005
Energy Intensive Industries,2144.8789,2092.8186,2080.6937,2048.2611,1946.7342,2134.6495,2196.3513,2096.8711
Health,14.3583,5.8764,13.7738,28.3651,30.3779,28.6322,27.8074,33.3453
Mobility - Transport - Automotive,57.8400,30.5853,35.3547,49.2776,57.1895,57.4425,61.6061,75.8338
"Proximity, Social Economy and Civil Security",60.8669,35.7993,45.3332,33.7141,35.5019,32.8380,35.4668,45.3675
Retail,12.5868,4.6077,9.9748,20.0268,22.0767,21.1831,20.8782,25.5710
Textile,239.4740,198.4745,242.9014,268.9334,267.1680,249.0973,251.9264,280.9691
Tourism,150.5412,94.4188,109.2999,79.4690,81.6121,75.7346,84.3543,105.9397

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:45: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

,N04-2011,N04-2012,N04-2013,N04-2014,N04-2015,N04-2016,N04-2017,N04-2018
Aerospace & Defence,0.0000,0.0000,0.0000,94.6319,96.5511,93.8175,61.6041,62.2033
Agri-food,0.2000,0.2000,0.2000,1727.8372,1824.5461,1426.6671,1527.6076,1528.3342
Construction,0.1000,0.1000,0.1000,124.1481,131.1742,131.7754,132.1008,131.3601
Cultural and Creative Industries,0.0000,0.0000,0.0000,3.6347,3.6229,3.5928,3.5847,3.6322
Digital,0.0000,0.0000,0.0000,8.4641,8.3588,8.3604,8.3416,8.4599
Electronics,0.0000,0.0000,0.0000,7.8923,7.8332,7.8401,7.8225,7.8776
Energy - Renewables,88786.9510,97215.2790,109841.5600,227882.1390,269634.8735,275096.1857,321679.7897,329942.7898
Energy Intensive Industries,0.0000,0.0000,0.0000,14.6816,14.5189,14.5297,14.4970,14.6675
Health,0.0000,0.0000,0.0000,20.8753,20.6450,20.6556,20.6091,20.8562
Mobility - Transport - Automotive,0.0000,0.0000,0.0000,112.4132,112.6720,111.6366,96.4698,97.0647
"Proximity, Social Economy and Civil Security",0.0000,0.0000,0.0000,9.4992,9.3835,9.3864,9.3652,9.4936
Retail,0.0000,0.0000,0.0000,17.8853,17.6740,17.6801,17.6403,17.8732
Textile,0.0000,0.0000,0.0000,3.4455,3.4120,3.4141,3.4064,3.4412
Tourism,0.0000,0.0000,0.0000,14.9605,14.7305,14.7379,14.7048,14.9627

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:45: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

,N05-2011,N05-2012,N05-2013,N05-2014,N05-2015,N05-2016,N05-2017,N05-2018
Aerospace & Defence,516.7061,285.9583,357.4215,385.1299,504.5321,538.9286,590.0752,773.4153
Agri-food,10519.9506,13287.4002,13607.7001,13511.0695,13580.3983,13590.0776,16988.8983,17660.1792
Construction,2216.0878,1823.5801,1750.6965,1458.2137,2222.1828,2299.3475,2448.6722,2687.1164
Cultural and Creative Industries,1886.5775,1453.5545,1574.4816,1352.1996,1356.7312,1359.5703,1426.0655,1646.6844
Digital,965.0754,861.2441,926.7972,869.8874,904.1456,912.7856,947.4777,985.4162
Electronics,285.6672,260.3766,253.8915,309.2726,469.6210,502.0017,527.4083,634.9122
Energy - Renewables,37927.7026,58642.0705,70794.9438,142736.3670,152473.9888,154379.0967,161260.0077,167653.4344
Energy Intensive Industries,12953.9621,13440.4082,12573.3011,12949.1939,11641.1938,13002.3325,13097.3456,13191.2013
Health,3392.9907,2631.8156,2414.7428,1920.9265,1894.9865,1895.2637,2015.4710,2356.1278
Mobility - Transport - Automotive,2453.1464,2077.7802,2165.3146,2304.8232,2617.6753,2687.4830,2858.4378,3186.6106
"Proximity, Social Economy and Civil Security",1800.1137,1805.9212,2280.9581,1707.0679,1977.6026,1938.7762,2157.8010,2582.6517
Retail,944.2127,891.4430,1455.8538,2258.3029,2780.7096,2753.5754,3083.2786,3400.9918
Textile,427.7822,412.6747,483.3055,531.2303,589.2797,543.6605,573.8910,720.4912
Tourism,2905.1431,2269.6183,2454.6812,2629.8884,2709.4909,2724.2045,2887.7001,3228.1560

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:45: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

,N06-2011,N06-2012,N06-2013,N06-2014,N06-2015,N06-2016,N06-2017,N06-2018
Aerospace & Defence,652.5725,704.2372,711.5812,663.2137,641.9648,651.2622,716.2000,646.5133
Agri-food,1245348.3611,1294213.4014,1520477.8799,2719395.3644,2858306.2316,2894474.2220,2927169.2606,2858862.2293
Construction,3157.5133,3360.1935,3495.7833,6296.7608,5433.9432,6401.4721,6592.2531,6824.2722
Cultural and Creative Industries,441.3629,448.9957,496.4471,693.1843,698.0230,669.6368,701.0763,777.2248
Digital,665.7097,674.1963,733.4517,671.6586,650.6208,667.8546,664.5484,663.9436
Electronics,278.7747,279.1077,298.1189,246.4017,245.0185,255.0787,255.4378,249.1864
Energy - Renewables,100754.0600,83984.2602,93932.6906,118098.9504,124644.5334,130383.0611,134880.9820,129600.7627
Energy Intensive Industries,458053.0941,415489.6701,477591.1170,842591.7546,857972.0914,889795.7868,928693.5874,965370.0176
Health,1988.7033,2039.0213,2234.7287,5016.8305,5235.8156,4813.1328,5229.2427,6199.5464
Mobility - Transport - Automotive,2215.3815,2293.1093,2490.3299,2370.1258,2511.1116,2335.2552,2487.2895,2431.7951
"Proximity, Social Economy and Civil Security",1191.4888,1257.0829,1341.0131,1305.5674,1265.9462,1260.2270,1665.2048,1449.4432
Retail,2133.7562,2562.5123,3725.5038,2486.1101,4037.9540,7130.4634,6845.0294,8931.7210
Textile,310.7354,322.5223,1533.1316,9272.9164,3961.5961,4776.4025,4553.1963,4929.7464
Tourism,1668.3874,1767.6616,1818.6785,1719.3222,1876.5197,1682.2129,1688.3997,1711.3575

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:45: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

,N07-2011,N07-2012,N07-2013,N07-2014,N07-2015,N07-2016,N07-2017,N07-2018
Aerospace & Defence,150.6098,152.4575,295.7095,477.2735,497.7858,547.5125,3261.9603,3212.6420
Agri-food,2002.2161,1690.5314,1852.0351,2248.4818,2339.3128,2840.9617,6241.2288,5865.0873
Construction,247.5884,222.3131,459.2977,820.6261,841.9041,921.4563,15424.9050,15271.3271
Cultural and Creative Industries,11.9474,12.0940,211.2763,594.7596,628.6490,764.7794,6099.9065,5953.8302
Digital,29.7490,30.1140,191.3126,462.4573,485.3050,557.3627,5138.1352,5116.5036
Electronics,13.8476,14.0175,75.5794,111.9167,126.1554,157.5418,1106.3237,1139.4326
Energy - Renewables,68113.0201,68594.2542,69924.2545,107018.5087,116321.6827,123332.9058,139843.7269,147215.2268
Energy Intensive Industries,42.8627,43.3886,64.6155,175.6149,158.9726,167.3128,10890.6199,11659.9612
Health,62.0995,62.8613,145.0570,1757.8260,1964.8507,2368.6086,7932.1972,7046.9100
Mobility - Transport - Automotive,149.5301,151.3645,483.2644,1733.2588,1851.6348,2087.2786,9212.5511,9127.6508
"Proximity, Social Economy and Civil Security",80.6206,81.6044,497.7388,3328.0764,3431.9790,3635.9808,19035.0569,18810.4301
Retail,433.1201,438.4380,1035.1303,2471.3201,2604.0055,2863.1436,21630.3139,21213.8755
Textile,8.7496,8.8570,15.6614,44.3109,46.5218,47.3819,2521.9073,2474.8888
Tourism,410.2376,3109.4330,2970.0735,21511.3459,21186.4996,21873.5653,36270.5792,37018.5797