In [1]:
# pandas
import pandas as pd

In [2]:
#nama_10_a64 National accounts aggregates by industry (up to NACE A*64)
#NAMA_10_A64_P5 Gross capital formation by industry (up to NACE A*64)
#National accounts employment data by industry (up to NACE A*64)

import eurostat
df = eurostat.get_data_df('hsw_n2_01', flags=False)
df

,unit,nace_r2,sex,geo\time,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
0,NR,A,F,AT,837.0,1030.0,991.0,914.0,938.0,1088.0,1072.0,1159.0,1372.0,1766.0,1704.0,1608.0
1,NR,A,F,BE,85.0,92.0,88.0,85.0,75.0,69.0,67.0,71.0,95.0,94.0,83.0,95.0
2,NR,A,F,BG,9.0,8.0,8.0,2.0,7.0,4.0,6.0,5.0,5.0,10.0,8.0,17.0
3,NR,A,F,CH,356.0,375.0,327.0,344.0,322.0,304.0,341.0,324.0,309.0,275.0,288.0,223.0
4,NR,A,F,CY,3.0,9.0,1.0,5.0,2.0,5.0,4.0,7.0,3.0,8.0,14.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31355,RT_INC,UNK,UNK,RO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31356,RT_INC,UNK,UNK,SE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31357,RT_INC,UNK,UNK,SI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31358,RT_INC,UNK,UNK,SK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31359,RT_INC,UNK,UNK,UK,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
df.columns

Index([    'unit',  'nace_r2',      'sex', 'geo\time',       2019,       2018,
             2017,       2016,       2015,       2014,       2013,       2012,
             2011,       2010,       2009,       2008],
      dtype='object')

In [4]:
#eliminate columns for years previous to 2011
years =[]
year_start=2008
year_study=2011
for y in range(year_start,year_study): 
    years.append(y)
df=df.drop(years, axis=1)#quitamos todas las columnas de añosque no nos interesan
#rename geo time column to be easier to handle because of the name
df.rename(columns={"geo\\time": "geo"}, inplace=True)
#We can get the unique values of the different variables

In [5]:
#list of selected variables variabales
variable_of_interest="NonFatal Accidents-Number"
df.unit.unique()

#number 
#incidence rate IR

array(['NR', 'RT_INC'], dtype=object)

In [6]:
unit=['NR']

In [7]:
nace_IR=df.nace_r2.unique()
nace_IR

array(['A', 'A01', 'A02', 'A03', 'A_C-N', 'B', 'B05', 'B06', 'B07', 'B08',
       'B09', 'C', 'C10', 'C11', 'C12', 'C13', 'C14', 'C15', 'C16', 'C17',
       'C18', 'C19', 'C20', 'C21', 'C22', 'C23', 'C24', 'C25', 'C26',
       'C27', 'C28', 'C29', 'C30', 'C31', 'C32', 'C33', 'D', 'D35', 'E',
       'E36', 'E37', 'E38', 'E39', 'F', 'F41', 'F42', 'F43', 'G', 'G45',
       'G46', 'G47', 'H', 'H49', 'H50', 'H51', 'H52', 'H53', 'I', 'I55',
       'I56', 'J', 'J58', 'J59', 'J60', 'J61', 'J62', 'J63', 'K', 'K64',
       'K65', 'K66', 'L', 'L68', 'M', 'M69', 'M70', 'M71', 'M72', 'M73',
       'M74', 'M75', 'N', 'N77', 'N78', 'N79', 'N80', 'N81', 'N82', 'O',
       'O84', 'P', 'P85', 'Q', 'Q86', 'Q87', 'Q88', 'R', 'R90', 'R91',
       'R92', 'R93', 'S', 'S94', 'S95', 'S96', 'T', 'T97', 'T98', 'TOTAL',
       'U', 'U99', 'UNK'], dtype=object)

In [8]:
weights_target = pd.read_excel('ecosystemweightsextended.xlsx')

In [9]:
nace_weights=weights_target.NACE_R2.unique()
nace_weights

array(['A', 'C10', 'C11', 'C12', 'C10-C12', 'C13', 'C14', 'C15',
       'C13-C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21', 'C22', 'C23',
       'C24', 'C25', 'C26', 'C27', 'C28', 'C29', 'C30', 'C31', 'C32',
       'C33', 'D35', 'D', 'E36', 'E37', 'E38', 'E39', 'E37-E39', 'F',
       'G45', 'G46', 'G47', 'H49', 'H50', 'H51', 'H52', 'H53', 'I', 'J58',
       'J59', 'J60', 'J59_J60', 'J61', 'J62', 'J63', 'J62_J63', 'L',
       'M69_M70', 'M69', 'M70', 'M71', 'M72', 'M73', 'M74_M75', 'M74',
       'M75', 'N77', 'N78', 'N77_N78', 'N79', 'N80', 'N81', 'N82', 'P85',
       'P', 'Q86', 'Q87_Q88', 'R90-R92', 'R93', 'S94', 'S95', 'S96', 'T'],
      dtype=object)

In [10]:
nace_repeated=['D', 'P']
nace_dif= set(nace_weights)- set(set(nace_IR)-set(nace_repeated))
nace_dif

{'C10-C12',
 'C13-C15',
 'D',
 'E37-E39',
 'J59_J60',
 'J62_J63',
 'M69_M70',
 'M74_M75',
 'N77_N78',
 'P',
 'Q87_Q88',
 'R90-R92'}

In [11]:
nace_sel=set(nace_weights)-set(nace_dif)
nace_sel

{'A',
 'C10',
 'C11',
 'C12',
 'C13',
 'C14',
 'C15',
 'C16',
 'C17',
 'C18',
 'C19',
 'C20',
 'C21',
 'C22',
 'C23',
 'C24',
 'C25',
 'C26',
 'C27',
 'C28',
 'C29',
 'C30',
 'C31',
 'C32',
 'C33',
 'D35',
 'E36',
 'E37',
 'E38',
 'E39',
 'F',
 'G45',
 'G46',
 'G47',
 'H49',
 'H50',
 'H51',
 'H52',
 'H53',
 'I',
 'J58',
 'J59',
 'J60',
 'J61',
 'J62',
 'J63',
 'L',
 'M69',
 'M70',
 'M71',
 'M72',
 'M73',
 'M74',
 'M75',
 'N77',
 'N78',
 'N79',
 'N80',
 'N81',
 'N82',
 'P85',
 'Q86',
 'R93',
 'S94',
 'S95',
 'S96',
 'T'}

In [12]:
df.geo.unique()

array(['AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES',
       'EU15', 'EU27_2007', 'EU27_2020', 'EU28', 'FI', 'FR', 'HR', 'HU',
       'IE', 'IS', 'IT', 'LT', 'LU', 'LV', 'MT', 'NL', 'NO', 'PL', 'PT',
       'RO', 'SE', 'SI', 'SK', 'UK'], dtype=object)

In [13]:
cols = ['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES', 'FI','FR', 'HR', 'HU', 'IE', 'IT', 'LT','LU', 'LV', 'MT','NL', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK']
countries=['EU27_2020','AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES', 'FI','FR', 'HR', 'HU', 'IE', 'IT', 'LT','LU', 'LV', 'MT','NL', 'PL', 'PT', 'RO', 'SE', 'SI','SK']

In [14]:
#we select the rows that have the right unit, nace codes, items and countries
df_selection = df[df.unit.isin(unit)&df.nace_r2.isin(nace_sel)&df.geo.isin(countries)]
df_selection

,unit,nace_r2,sex,geo,2019,2018,2017,2016,2015,2014,2013,2012,2011
0,NR,A,F,AT,837.0,1030.0,991.0,914.0,938.0,1088.0,1072.0,1159.0,1372.0
1,NR,A,F,BE,85.0,92.0,88.0,85.0,75.0,69.0,67.0,71.0,95.0
2,NR,A,F,BG,9.0,8.0,8.0,2.0,7.0,4.0,6.0,5.0,5.0
4,NR,A,F,CY,3.0,9.0,1.0,5.0,2.0,5.0,4.0,7.0,3.0
5,NR,A,F,CZ,642.0,761.0,777.0,766.0,804.0,802.0,799.0,794.0,780.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14834,NR,T,UNK,PT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14835,NR,T,UNK,RO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14836,NR,T,UNK,SE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14837,NR,T,UNK,SI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14838,NR,T,UNK,SK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# columns of countries to be eliminated
cols = ['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES', 'FI','FR', 'HR', 'HU', 'IE', 'IT', 'LT','LU', 'LV', 'MT','NL', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK']

#create a dataframe for the results
results_compiled = pd.DataFrame()


import numpy as np
#loop to calculate values for years
for j in range (2011,2019):
    year=j
    #we transpose the values for the year selected
    for i in range (year,year+1):
        df_target = pd.pivot_table(df_selection, values=i, index=['nace_r2'],columns=["geo"], aggfunc=np.sum, fill_value=0)#reorde
    df_target['sum'] = df_target[cols].sum(axis=1)#sums the columns of the countries to "sum" 
    df_target=df_target.drop(cols, axis=1)#eliminamos las columnas sumadas de países
    df_target.loc[df_target['EU27_2020']==0,'EU27_2020'] = df_target['sum']#now we can locate columns with 0 and make the substitution with the column "sum"
    moddf_target=df_target.drop('sum', axis=1)#we create a new table 
    
    #cargamos los pesos en el dataframe weight  
    weights_target = pd.read_excel("ecosystemweightsextended.xlsx")
    weights_target.set_index('NACE_R2', inplace=True)#nace como índice
    column_name=str(variable_of_interest)+str(year)
    weights_target[variable_of_interest]=weights_target.index.map(moddf_target['EU27_2020'])#busca en df_target el nace y copia el valor de EU27_2020 en la fila del nace the weights_target
    #creamos la matriz de resultados
    results=weights_target
    for i in range(0,14):
        results.iloc[:, i]=weights_target.iloc[:, i]*weights_target[variable_of_interest]#we multiply the total value added by the weight for each nace
    results.loc['total'] = results.select_dtypes(pd.np.number).sum() #we add the values of each colum in a row call total
    results_compiled[column_name]=results.loc['total']
results_compiled = results_compiled.drop(variable_of_interest)
#sum of the totals
results_SMEs = results_compiled.copy()  
results_big = results_compiled.copy()
#results_compiled.loc['total'] = results_compiled.select_dtypes(pd.np.number).sum()
results_compiled

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:29: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

,NonFatal Accidents-Number2011,NonFatal Accidents-Number2012,NonFatal Accidents-Number2013,NonFatal Accidents-Number2014,NonFatal Accidents-Number2015,NonFatal Accidents-Number2016,NonFatal Accidents-Number2017,NonFatal Accidents-Number2018
Aerospace & Defence,1.636188e+05,1.528905e+05,1.504545e+05,1.374578e+05,1.388271e+05,1.426586e+05,1.422895e+05,1.442437e+05
Agri-food,6.214050e+05,5.667095e+05,5.705946e+05,6.130717e+05,6.015687e+05,6.069811e+05,5.854820e+05,5.729645e+05
Construction,1.345615e+06,1.182732e+06,1.096246e+06,1.083497e+06,1.075559e+06,1.088541e+06,1.126787e+06,1.165081e+06
Cultural and Creative Industries,1.102184e+05,1.047449e+05,1.026789e+05,9.695123e+04,9.398174e+04,9.999053e+04,8.834109e+04,9.529656e+04
Digital,7.668471e+04,6.895999e+04,6.785304e+04,6.168014e+04,6.401764e+04,6.507840e+04,6.203736e+04,6.433235e+04
Electronics,6.340476e+04,6.073582e+04,5.581295e+04,4.890368e+04,4.928666e+04,4.926486e+04,3.994973e+04,4.075919e+04
Energy - Renewables,3.079398e+04,2.824376e+04,3.639575e+04,2.798496e+04,2.776584e+04,2.849440e+04,2.704303e+04,2.659614e+04
Energy Intensive Industries,3.948285e+05,3.516765e+05,3.439161e+05,3.320609e+05,3.343484e+05,3.388981e+05,3.386411e+05,3.387369e+05
Health,3.350060e+05,3.129276e+05,3.193986e+05,3.879199e+05,3.964694e+05,4.001992e+05,3.710977e+05,3.744971e+05
Mobility - Transport - Automotive,5.859704e+05,5.270067e+05,5.377642e+05,5.188404e+05,5.243949e+05,5.144527e+05,5.306618e+05,5.529351e+05
"Proximity, Social Economy and Civil Security",2.507388e+05,2.311031e+05,2.371097e+05,2.377680e+05,2.429164e+05,2.486759e+05,2.577426e+05,2.629134e+05
Retail,8.587122e+05,7.987880e+05,7.898351e+05,7.631612e+05,7.658736e+05,7.951312e+05,8.128723e+05,7.982289e+05
Textile,5.726301e+04,5.169684e+04,4.795161e+04,4.945956e+04,4.917622e+04,4.920178e+04,4.986796e+04,4.908022e+04
Tourism,6.343316e+05,5.927580e+05,5.917606e+05,5.856608e+05,6.052513e+05,6.254088e+05,6.454823e+05,6.569163e+05

In [16]:
#save to file
filename = "%s.xlsx" % variable_of_interest
results_compiled.to_excel(filename)

In [17]:
#      Incidence rate = number accidents/employees
#retrieve the data for ecosystems employment 
employment = pd.read_excel("Total employment domestic concept.xlsx", index_col=0)
employment

,Total employment domestic concept2011,Total employment domestic concept2012,Total employment domestic concept2013,Total employment domestic concept2014,Total employment domestic concept2015,Total employment domestic concept2016,Total employment domestic concept2017,Total employment domestic concept2018
Aerospace & Defence,4081.645620,4099.445837,4078.350211,4088.436908,4118.755184,4232.349207,4282.079065,4355.017593
Agri-food,17314.313283,17203.460871,16917.259725,16874.031950,16636.550922,16335.149269,16440.209908,16320.186924
Construction,24628.090111,24186.343131,23809.393952,23935.090499,24094.025074,24470.214451,24937.648253,25616.290675
Cultural and Creative Industries,7857.481955,7823.277574,7801.008990,7875.982945,7880.352965,7987.512563,8060.114822,8156.296940
Digital,5722.753352,5813.484106,5871.821540,5978.645437,6124.165922,6285.345324,6503.780377,6757.126835
Electronics,1682.346986,1694.210390,1676.823615,1679.239559,1677.649528,1705.173620,1739.623948,1782.358981
Energy - Renewables,1132.716479,1129.383328,1124.326013,1137.441190,1132.654003,1151.082374,1154.064487,1175.183774
Energy Intensive Industries,7600.062811,7489.410696,7367.874140,7358.628585,7375.145439,7475.878730,7630.452959,7760.848057
Health,22262.556967,22455.829322,22728.462766,23113.956313,23514.393469,24030.321971,24490.461954,24917.299531
Mobility - Transport - Automotive,12883.270509,12895.967549,12882.076189,13062.433783,13282.209375,13610.370205,13967.123425,14314.418833
"Proximity, Social Economy and Civil Security",21108.323294,21273.637799,21410.842103,21705.634359,22061.245657,22465.898086,22822.898675,23184.011877
Retail,28901.613126,28830.563781,28515.387299,28698.205395,28978.654372,29235.018010,29553.461648,29755.078389
Textile,2578.848778,2526.786918,2445.136681,2443.449815,2403.260055,2389.832173,2405.533842,2387.523306
Tourism,17568.553640,17680.892455,17804.705692,18285.191424,18758.522946,19358.160707,19972.648846,20470.051079

In [18]:
#we create a table to store the new values
productivity=results_compiled.copy()
num_col_result=len(results_compiled.columns)
#iteration to calculate the values
for i in range(0,num_col_result):
    productivity.iloc[:,i]= results_compiled.iloc[:, i]/employment.iloc[:, i]
productivity=productivity.add_suffix('-Incidence Rate')
productivity

,NonFatal Accidents-Number2011-Incidence Rate,NonFatal Accidents-Number2012-Incidence Rate,NonFatal Accidents-Number2013-Incidence Rate,NonFatal Accidents-Number2014-Incidence Rate,NonFatal Accidents-Number2015-Incidence Rate,NonFatal Accidents-Number2016-Incidence Rate,NonFatal Accidents-Number2017-Incidence Rate,NonFatal Accidents-Number2018-Incidence Rate
Aerospace & Defence,40.086469,37.295409,36.891031,33.621120,33.706082,33.706722,33.229074,33.121274
Agri-food,35.889673,32.941598,33.728550,36.332261,36.159459,37.157980,35.612804,35.107715
Construction,54.637392,48.900801,46.042598,45.268127,44.640063,44.484327,45.184188,45.482043
Cultural and Creative Industries,14.027190,13.388875,13.162262,12.309731,11.926083,12.518356,10.960277,11.683803
Digital,13.399967,11.862076,11.555706,10.316742,10.453283,10.353989,9.538662,9.520666
Electronics,37.688277,35.849044,33.284928,29.122515,29.378399,28.891406,22.964580,22.868115
Energy - Renewables,27.185957,25.008124,32.371173,24.603432,24.513962,24.754441,23.432860,22.631469
Energy Intensive Industries,51.950689,46.956494,46.677789,45.125376,45.334489,45.332203,44.380207,43.646889
Health,15.047959,13.935250,14.052802,16.782928,16.860710,16.653925,15.152746,15.029603
Mobility - Transport - Automotive,45.483044,40.866009,41.745147,39.720039,39.481001,37.798579,37.993635,38.627844
"Proximity, Social Economy and Civil Security",11.878671,10.863355,11.074284,10.954207,11.011001,11.069039,11.293159,11.340288
Retail,29.711566,27.706292,27.698559,26.592646,26.428888,27.197905,27.505147,26.826643
Textile,22.204873,20.459516,19.611012,20.241692,20.462296,20.587966,20.730517,20.556959
Tourism,36.106079,33.525343,33.236189,32.029241,32.265403,32.307245,32.318313,32.091581

In [19]:
#save to file
filename = "%s.xlsx" % (variable_of_interest+str('-Incidence Rate'))
productivity.to_excel(filename)